<div class="modal-container">
    <header class="w-100 d-flex justify-content-end">
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>

    </header>    
        <body class="d-flex flex-column justify-content-center">
        <div class="mt-4 tittle">Documentos enviados com sucesso!</div>
        <div class="success btn-sucess" [ngStyle]="{'background-color': buttonColor}"></div>
    </body>

</div>
