.modal-container {
    margin: 20px;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.tittle {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 10px 0px 16px;
}

.success {
    margin-top: 30px;
    margin-bottom: 40px;

}

