.button {
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    margin: 42px 0px 0px;
    border: none;
    width: 100%;
    height: 48px;
}

.body {
    margin: 80px 0px 80px 0px;
}

.success {
    text-align: center;
    font-family: "Inter";
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
}

.btn-close {
    position: absolute;
    right: 21px;
    top: 21px;
}

::ng-deep .modal-header {
    border: none !important;
}

.title-modal {
    font-size: 26px;
    font-family: "Inter";
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 90px;
}
