<button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>

<div *ngIf="success == false" class="modal-body w-100 p-4">

    <form [formGroup]="forgot" class="body w-100" (ngSubmit)="submit()">
        <div class=" title-modal"> Informe seu e-mail para redefinir a sua senha: </div>
        <div class="form-group">
            <input on-focusout="validacaoEmail(forgot.controls.email.value)"
            [ngClass]="{'invalid-form-field': validateFormField(forgot.get('email'))}"
            placeholder="E-mail" type="text" class="form-control" formControlName="email" required />
        </div>
        <div class="d-flex justify-content-center">
            <button [ngStyle]="{'background-color': buttonColor}" type="submit" class="button">Enviar</button>

        </div>
    </form>

</div>

<div *ngIf="success == true" class="modal-body">
    <div class="body">
        <div *ngIf="errorMesssage == false">
          <div class="d-flex align-items-center justify-content-center">
            <div [ngStyle]="{'background-color': buttonColor}" class="btn-sucess"></div>
          </div>
          <div class="success">
            Link de redefinição de senha enviado para o e-mail informado! <br>
            <br>
            Verifique seu e-mail e siga as instruções para redefinir sua senha.
          </div>
        </div>
        <div *ngIf="errorMesssage == true">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../../assets/error.svg" alt="">
          </div>
          <div class="success">
            E-mail não encontrado. Favor efetuar o cadastro.
          </div>
        </div>
    </div>
</div>
