app-header,
app-menu {
    position: relative;
    z-index: 2;
}

.mobile {
    position: relative;
    transition: 300ms;
}

.outlet{
    transition: 300ms;
}

.open {
    transform: translateX(0) !important;
}

.menu {
    display: none;
}

@media (max-width: 950px) {
    .mobile {
        position: absolute;
        transform: translateX(-340px);
    }
    .menu {
        position: absolute;
        top: 220px;
        left: 20px;
        display: block;
    }
    .outlet {
        position: absolute;
        height: 100vh;
        width: 100%;
        background: #9b9b9bc7;
        backdrop-filter: blur(2px);
    }
}
