<app-header></app-header>
<div class="d-flex w-100" style="word-break: break-all;">
        <app-menu (close)="menu($event)" [ngClass]="{'open': open}" class="mobile"></app-menu>
        <img id="open-menu" (click)="menu(true)" class="menu" src="../../assets/menu-icon.svg" alt="">
        <div class="w-100 d-flex flex-column">
                <router-outlet></router-outlet>
        </div>
        <div [ngClass]="{'outlet': open}"></div>
</div>