<form [formGroup]="escritura" class="row" (ngSubmit)="submit()">
  <div class="form-group mb-2 col-6">
    <label for="tipoEscritura">Tipo *</label>
    <select (change)="validatetype()" formControlName="tipoEscritura" class="form-select">
      <option [value]="type.chave" *ngFor="let type of types">{{type.descricao}}</option>
    </select>
  </div>
  <div class="form-group mb-5 col-6">
    <label for="nome">Nome completo *</label>
    <input readonly formControlName="nomeSolicitante" type="text" class="form-control"
      placeholder="Digite seu nome completo">
  </div>
  <div class="form-group mb-5 col-6">
    <label for="nome">Telefone *</label>
    <input mask="(00) 0000-0000||(00) 00000-0000"
      [ngClass]="{'invalid-form-field': validateFormField(escritura.get('telefoneSolicitante'))}"
      on-focusout="phoneNumberIsReal(escritura.get('telefoneSolicitante').value, escritura.get('telefoneSolicitante'))"
      formControlName="telefoneSolicitante" type="text" class="form-control" placeholder="Digite seu telefone">
  </div>
  <div class="form-group mb-5 col-6">
    <label for="nome">E-mail *</label>
    <input readonly formControlName="emailSolicitante" type="email" class="form-control"
      placeholder="Digite seu e-mail">
  </div>

  <div class="form-group mb-5 col-6" *ngIf="escritura.get('tipoEscritura').value == 'PRECATORIA'">
    <label for="nome">Valor *</label>
    <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      [ngClass]="{'invalid-form-field': validateFormField(escritura.get('valorSolicitacao'))}"
      formControlName="valorSolicitacao" type="text" class="form-control">
  </div>

  <div class="form-group mb-5 col-6" *ngIf="escritura.get('tipoEscritura').value == 'PRECATORIA'">
    <label for="tipoSolicitacaoPrecatorio">Tipo de solicitação *</label>
    <select formControlName="tipoSolicitacaoPrecatorio" class="form-select"
      [ngClass]="{'invalid-form-field': validateFormField(escritura.get('tipoSolicitacaoPrecatorio'))}">
      <option value="null" disabled selected>Selecione</option>
      <option value="EMISSAO_CERTIFICADO">Emissão certificado</option>
      <option value="ESCRITURA">Escritura</option>
      <option value="EMISSAO_CERTIFICADO_ESCRITURA">Emissão de Certificado + Escritura</option>
    </select>
  </div>

  <div class="form-group mb-2 col-12">
    <label for="mensagem">Mensagem</label>
    <textarea [ngClass]="{'invalid-form-field': validateFormField(escritura.get('mensagem'))}"
      formControlName="mensagem" maxlength="3000" class="form-control" placeholder="Digite uma mensagem"
      rows="3"></textarea>
  </div>

  <div class="required mb-5">
    <div> Os campos com (*) são de preenchimento obrigatório. </div>
    <div class="nowrap">{{escritura.get('mensagem').value.length}} / 3000</div>
  </div>


  <!-- <div class="form-group mb-5 col-12">
      <label class="mb-2">Já é atendido por algum escrevente ou tem preferência por algum?</label>
      <div class="form-check" style="margin-right: 20px !important;">
        <input (change)="optionsResponsible(true)"class="form-check-input" type="radio" name="flexRadioDefault">
        <label class="form-check-label" for="flexRadioDefault1">
          Sim
        </label>
      </div>
      <div class="form-check">
        <input (change)="optionsResponsible(false)" class="form-check-input" type="radio" name="flexRadioDefault">
        <label class="form-check-label">
          Não
        </label>
      </div>
  </div> -->

  <ng-container *ngIf="this.optionResponsible == true">
    <div class="form-group mb-2 col-6">
      <label for="codigoResponsavel">Escrevente responsável pela solicitação</label>
      <select formControlName="codigoResponsavel" class="form-select">
        <option value="" disabled selected>Selecione</option>
        <option [value]="resp.codigo" *ngFor="let resp of responsible">{{resp.nome}}</option>
      </select>
    </div>
   </ng-container>


  <div class="form-group mt-5 col-12" *ngIf="escritura.get('tipoEscritura').value == 'PRECATORIA'">
    <div class="d-table w-100 file-content">
      <div class="d-table-cell file-control">
        <div formArrayName="arquivo" *ngIf="arquivosArray.controls">
          <ng-container *ngIf="arquivosArray.controls.length == 0; else hasFilesTemplate">
            Clique ou arraste os arquivos aqui
          </ng-container>
          <ng-template #hasFilesTemplate>
            <div class="d-flex flex-column">
              <i class="bi bi-cloud-upload-fill fs-4"></i>
              <span>Você adicionou {{ arquivosArray.controls.length }} {{ arquivosArray.controls.length === 1 ?
                'arquivo' : 'arquivos' }}</span>
            </div>
          </ng-template>
        </div>

      </div>

      <input type="file" id="anexo" name="anexo" class="form-control-file" multiple (change)="handleSelect($event)"
        DraggableFile>
    </div>

    <div *ngIf="arquivosArray.controls.length > 0" class="text-center">
      <div *ngFor="let file of arquivosArray.controls; index as i" class="mt-3">
        <h3 class="fs-6">{{file.get('name').value}} <span (click)="removeFile(i)" class="cursor-pointer">X</span></h3>
      </div>
    </div>
  </div>


  <div class="d-flex w-100 mt-5">
    <button type="button" (click)="location.back()" class="w-100 back-btn">
      Voltar
    </button>
    <button type="submit" [ngStyle]="{'background-color': buttonColor}" class="w-100 button">
      Enviar
    </button>
  </div>
  <br><br>
</form>
