<div class="modal-container">
    <header class="w-100 d-flex justify-content-between align-items-center">
        <div class="tittle">Atenção!</div>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>

    </header>
    <hr>

    <body class="d-flex flex-column justify-content-center">
        <div class="message">
            Existem documentos sem descrição e participantes. <br>
            Deseja enviar mesmo assim?
        </div>
        <div class="w-100 d-flex align-items-center justify-content-center mb-2 responsive action">
            <div class="w-50 cancel-btn d-flex align-items-center c-p justify-content-center text-white"
                (click)="closeModal()">
                Preencher documentos
            </div>
            <div [ngStyle]="{'background-color': buttonColor}" class="w-50 send-button c-p" (click)="sendFiles()">Enviar
                mesmo
                assim</div>
        </div>
    </body>

</div>