.container {
    padding: 20px;
}
.modal-container {
    margin: 20px;
}

header {
    padding: 0px;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 40px;
}

.action {
    padding: 60px 0px 40px 0px;
}

.tittle {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 26px;
    padding: 10px 10px 0px 16px;
}

.success {
    margin-top: 30px;
    margin-bottom: 40px;
}
.message {
    font-weight: 500;
    font-size: 22px;
    padding: 80px 0px 60px 0px;
}
.cancel-btn {
    min-height: 48px;
    width: 50%;
    background-color: #c5c5c5;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
}
.btn-close {
    position: absolute;
    right: 21px;
    top: 21px;
}

.send-button {
    height: 48px;
    background-color: #6f1df4;
    color: white;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .modal-header {
    border: none !important;
}

@media (max-width: 991px) {
    .cancel-btn,
    .send-button {
        width: 100%;
        margin: 0 0 20px 0 !important;
    }

    .responsive {
        flex-direction: column;
    }
}
