<div class="chat c-p" [ngStyle]="{'background-color': buttonColor}" [ngClass]="{'close': !open, 'w-100': open && screen <= 530}">
  <div class="title d-flex justify-content-between align-items-center" (click)="open = !open">

    <div class="d-flex" [ngClass]="{'w-100': screen <= 530 && !open, 'justify-content-center': screen <= 530 && open == false}">
      <img src="../../../assets/chat.svg" alt="">
      <div class="chat-name">Chat</div>
    </div>
    <div class="doubt ml-4" *ngIf="screen > 530 || open">Tire suas dúvidas aqui!</div>
    <div *ngIf="screen > 530"></div>
  </div>
  <div class="body">

    <div class="messages" id="scrollable">
      <div *ngFor="let message of messages" class="w-100 d-flex flex-column"
        [ngClass]="{'receiver': !message.msgSolicitante, 'sender': message.msgSolicitante}">
        <p *ngIf="message.mensagem != null &&  message.mensagem != ''  || message.linkArquivo " class="id">
          {{message.remetente}}:</p>
        <div class="d-flex flex-column text text-center" *ngIf="message.linkArquivo" (click)="download(message)">
          <i class="bi bi-cloud-download fa-2x"></i>
          <span *ngIf="message.valido === null">Arquivo {{message.msgSolicitante ? 'recebido' :
            'enviado'}}</span>
        </div>
        <div *ngIf="message.mensagem !== null && message.mensagem !== ''" class="text innerHTMLMsgClass"
          [innerHTML]="getInnerMessage(message.mensagem)"></div>
        <div *ngIf="message.mensagem != null &&  message.mensagem != ''|| message.linkArquivo " class="message-time">
          {{message.dataCriacao | date: 'dd/MM/yyyy HH:mm '}}</div>
      </div>

    </div>

    <div class="keyboard">
      <form [formGroup]="chat" (ngSubmit)="send()">
        <div class="paddings">
          <div formArrayName="arquivo" *ngIf="chatArray.controls.length > 0">
            <div *ngFor="let file of chatArray.controls; index as i">
              <h3 class="font-size-upload">{{file.get('name').value}} <span (click)="removeFile(i)">X</span></h3>
            </div>
          </div>
          <input formControlName="mensagem" type="text" name="message" class="form-control" maxlength="3000">
        </div>
        <i class="bi bi-paperclip" (click)="upload()">
          <input #inputControl (change)="handleSelect($event)" multiple type="file" multiple name="" id="">
        </i>
        <button class="send" type="submit">Enviar</button>

      </form>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-input mt-1 px-3">O tamanho máximo permitido dos arquivos é de 10MB.</div>
      <div class="text-input-ws mt-1 px-3">{{ chat.get('mensagem').value.length }}/3000</div>
    </div>


  </div>
</div>
