.chat {
    transition: 150ms;
    width: 470px;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0%;
    right: 0;
    .title {
        border-radius: 20px 20px 0 0;
        padding: 25px;
        height: 70px;
        color: white;
        font-weight: 500;
        img {
            margin-right: 20px;
        }
    }
    .body {
        background-color: #f2f2f2;
    }
    .messages {
        height: 285px;
        overflow-y: scroll;
        padding: 20px;
    }
    .receiver {
        align-items: start;
        .message-time {
            font-size: 10px;
            position: relative;
            top: -15px;
            color: gray;
            text-align: left;
        }
        .id {
            font-size: 10px;
            color: grey;
            margin: 0px;
            text-align: left;
        }
        .text {
            font-family: "Inter";
            font-weight: 300;
            font-size: 16px;
            padding: 10px;
            min-height: 44px;
            margin-bottom: 20px;
            width: fit-content;
            color: white;
            background: #6f1df4;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16),
                0px -1px 1px rgba(0, 0, 0, 0.08);
            border-radius: 0px 24px 24px 24px;
        }
    }
    .sender {
        align-items: end;
        .message-time {
            font-size: 10px;
            position: relative;
            top: -15px;
            color: gray;
            text-align: left;
        }
        .id {
            font-size: 10px;
            color: grey;
            margin: 0px;
            text-align: left;
        }
        .text {
            font-family: "Inter";
            font-weight: 300;
            font-size: 16px;
            padding: 15px;
            min-height: 44px;
            margin-bottom: 20px;
            color: white;
            background: #669fea;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16),
                0px -1px 1px rgba(0, 0, 0, 0.08);
            border-radius: 24px 24px 0px 24px;
        }
    }
    .keyboard {
        position: relative;
        top: 15px;
        .form-group {
            padding: 16px 22px !important;
            input {
                height: 55px !important;
                background: #ffffff !important;
                border: 1px solid #e5e5e5 !important;
                box-sizing: border-box !important;
                border-radius: 4px !important;
                height: 36px !important;
            }
        }
        button {
            position: absolute;
            right: 27px;
            border: none;
            z-index: 2;
            bottom: 21px;
            background: white;
            cursor: pointer;
        }
        i {
            position: absolute;
            left: 27px;
            border: none;
            z-index: 2;
            bottom: 21px;
            background: white;
            cursor: pointer;
            input {
                height: 30px;
                width: 30px;
                position: absolute;
                left: 0;
                display: none;
            }
        }
    }
}

.close {
    transform: translateY(360px);
}

.font-size-upload {
    font-size: 13px;
}

.paddings {
    padding: 0 15px 15px 15px !important;
    input {
        padding-left: 40px;
    }
}

.chat-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.fa-2x {
    font-size: 2em;
}

.doubt {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.send {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
}

.text-input {
    font-size: 12px;
}

.text-input-ws {
    white-space: nowrap;
    font-size: 12px;
}

@media (max-width: 530px) {
    .close {
        transform: translateY(420px);
        width: 200px;
    }
}
