.back-btn {
    width: 133px;
    height: 48px;
    border-radius: 8px;
    background: rgba(196, 196, 196, 0.44);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border: none;
}

.solicitation-card {
    width: 100%;
    height: 48px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #6f1df4;
    border-radius: 20px;
    padding: 14px 9px;
    text-align: center;
}
.ml {
    margin-left: 20px;
}

.filter-btn {
    height: 50px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.44);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 12px 2px 12px 16px;
    margin: 37px 0px 55px 0px;
}

.content {
    margin: 40px 68px;
}

.tittle {
    font-weight: 700 !important;
    margin-bottom: 8px;
}

.tittle-status {
    font-weight: 700 !important;
    margin-bottom: 0px;
    text-align: center;
}

.labelDesc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.header-line {
    margin-bottom: 40px;
}
.title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    margin: 14px 0px;
}

.add-button {
    width: 36px;
    height: 36px;
    border: none;
    background: #6f1df4;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 26px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.top-card {
    margin-bottom: 30px;
}

.new-solicitation {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.card-solicitation {
    min-height: 160px;
    width: 100%;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: -1px 1px 5px rgb(0 0 0 / 25%);
    margin: 28px 0;
    padding: 37px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.list {
    margin-top: 28px;
}

.status-class {
    height: 43px;
    background: rgba(254, 193, 36, 0.19);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #d64507;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.input-filter,
.input-redirect {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
}

.input-filter {
    margin-right: 20px;
}

input,
select {
    background: white;
    height: 48px;
    border: 1px solid #7878802c;
    color: #787880;
    border-radius: 6px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
    margin-top: 4px;
}

.button {
    height: 48px;
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    margin: 40px 69px 22px 0px;
}
.status-resp {
    padding: 0px;
}
.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.input-group {
    input {
        margin: 0;
        height: 48px;
    }
}

.status {
    p {
        margin: 0;
        font-weight: 700;
    }
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

.status-confirmar {
    width: 90%;
    padding: 0 10px;
    background: rgba(254, 193, 36, 0.19);
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    height: 37px;
    color: #d64507;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}

.break-word {
    word-break: break-word;
}

.details {
    text-align: center;
}

@media (max-width: 950px) {
    .title-responsive {
        flex-direction: column-reverse;
        align-items: flex-end !important;
        .welcome {
            margin-top: 50px;
            width: 100%;
        }
    }
    .content {
        margin: 0 20px;
    }
}

@media (max-width: 890px) {
    .table-card {
        flex-direction: column;
    }
    .table-card-item {
        width: 100% !important;
        .status-confirmar {
            width: fit-content !important;
            text-align: center;
        }
    }
    .btn-fit-content {
        width: fit-content !important;
    }
}

@media (max-width: 480px) {
    .mw {
        max-width: 154px;
    }
    .status-resp {
        flex-direction: column;
        .status {
            margin-right: 0;
        }
    }

    ::ng-deep .accordion-body {
        padding: 1rem 0.6rem;
    }

    .card-accordion {
        padding: 20px 0px 20px 15px;

        .status-resp {
            padding-right: 5px;
        }
    }
}

@media (max-width: 450px) {
    .card-accordion {
        word-break: break-word;
        padding-left: 10px;
        .status-resp {
            padding-right: 5px;
        }
    }
}
