<div class="content">

    <div class="d-flex justify-content-between mt-5 align-items-center title-responsive">
        <div class="welcome">Minhas solicitações</div>
        <div (click)="open()" class="c-p new-solicitation d-flex align-items-center">
            <div [ngStyle]="{'background-color': buttonColor}" class="btn-plus icon"></div>
            Nova solicitação
        </div>
    </div>

    <main>
        <p class="labelDesc"> Preencha os campos abaixo e acompanhe o andamento de suas solicitações.</p>

        <button (click)="addRemoveFilter()" class="filter-btn d-flex align-items-center">
            {{!filterStatus ? 'Adicionar' : 'Remover'}} filtro
            <img class="icon" src="../../../assets/filter.svg" alt="">
        </button>

        <div *ngIf="filterStatus == true" class="filter">
            <div class="inputs w-100 d-flex justify-content-between align-items-center">
                <div class="w-100 input-filter d-flex flex-column">
                    Filtrar
                    <select [(ngModel)]="filter" name="" id="">
                        <option value="solicitation">Número solicitação</option>
                        <option value="period">Período</option>
                    </select>
                </div>
                <div *ngIf="filter == 'solicitation'" class="w-100 input-redirect d-flex flex-column">
                    Número da solicitação
                    <input [(ngModel)]="queryParams.codigoSimples" type="text"
                        placeholder="Digite o número da solicitação">
                </div>
                <div *ngIf="filter == 'period'" class="w-100 input-redirect d-flex flex-column">
                    Período

                    <form class="row row-cols-sm-auto">
                        <div class="col-12 w-50">
                            <div class="dp-hidden position-absolute">
                                <div class="input-group">
                                    <input name="datepicker" class="form-control" ngbDatepicker
                                        #datepicker="ngbDatepicker" [autoClose]="'outside'"
                                        (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                        outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                                    <ng-template #t let-date let-focused="focused">
                                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                            [class.faded]="isHovered(date) || isInside(date)"
                                            (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                            {{ date.day }}
                                        </span>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="input-group">
                                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                                    [value]="formatter.format(fromDate)"
                                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                                    <i class="bi bi-calendar3"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 w-50">
                            <div class="input-group">
                                <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                                    [value]="formatter.format(toDate)"
                                    (input)="toDate = validateInput(toDate, dpToDate.value)">
                                <button class="btn btn-outline-secondary " (click)="datepicker.toggle()" type="button">
                                    <i class="bi bi-calendar3"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="d-flex consult">
                <button [ngStyle]="{'background-color': buttonColor}" (click)="consult()"
                    class="w-50 button d-flex justify-content-center align-items-center">
                    Consultar
                </button>
                <div class="w-50 hide-inv"></div>
            </div>
        </div>


        <div *ngIf="solicitations.length > 0; else noSolicitation">
            <div class="list" *ngFor="let solicitation of solicitations" class="text-break">
                <div (click)="redirect('/my-solicitations/details', solicitation)"
                    class="card-solicitation c-p d-flex flex-column justify-content-start align-items-center">
                    <div class="d-flex w-100 justify-content-between top-card">
                        <div class="w-20 d-flex justify-content-center flex-column btn-fit-content">
                            <div [ngStyle]="{'background-color': buttonColor}" class="solicitation-card">Solicitação nº
                                {{solicitation.codigoSimples}}</div>
                        </div>
                        <div class="w-20 d-flex justify-content-center flex-column btn-fit-content">
                            <div [ngStyle]="{'background-color': buttonColor}" class="solicitation-card">Ver detalhes
                            </div>
                        </div>
                    </div>
                    <div class="d-flex w-100">
                        <div class="d-flex w-100 table-card">
                            <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                                <div class="tittle">Tipo de ato</div>
                                <div>{{solicitation.descricaoServico}}</div>
                            </div>
                            <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                                <div class="tittle">Data da solicitação</div>
                                <div>{{solicitation.dataCriacao | date: 'dd/MM/yyyy'}}</div>
                            </div>

                            <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                                <div class="tittle">Equipe</div>
                                <div>{{solicitation.nomeEquipe || 'Não atribuído'}}</div>
                            </div>
                            <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                                <div class="tittle">Responsável</div>
                                <div>{{solicitation.nomeResponsavel || 'Não atribuído'}}</div>
                            </div>
                            <div
                                class="w-20 d-flex justify-content-center align-items-center table-card-item flex-column ">
                                <div
                                    class="tittle-status text-center status-resp justify-content-center align-items-center">
                                    Status</div>
                                <div class="status-confirmar"> {{getStatus(solicitation)}}
                                </div>
                            </div>
                        </div>

                    </div>




                </div>
            </div>
        </div>
        <ng-template #noSolicitation>
            <i>
                <p class="mt-5 text-center">Nenhuma solicitacão</p>
            </i>
        </ng-template>

    </main>



</div>
