<div class="content p-4">

    <div class="card flex-column p-4 mt-4">
        <div class="d-flex"
            [ngClass]="{'justify-content-start': !message.msgSolicitante, 'justify-content-end': message.msgSolicitante}"
            *ngFor="let message of messages; index as i">
            <div class="d-flex flex-column align-items-end">
                <div class="message c-p" (click)="download(message)" *ngIf="message.linkArquivo"
                    [ngClass]="{'received': !message.msgSolicitante, 'sent': message.msgSolicitante}">
                    <div class="d-flex flex-column text text-center">
                      <i class="bi bi-cloud-download fa-2x"></i>
                      <div>{{message.msgSolicitante ? 'Arquivo enviado' : 'Arquivo recebido'}}
                      </div>
                    </div>
                    <div class="date-time">
                        {{message.dataCriacao | date: 'HH:mm'}}
                    </div>
                </div>
                <div class="message"
                    [ngClass]="{'received': !message.msgSolicitante, 'sent': message.msgSolicitante}">
                    <div class="innerHTMLMsgClass" *ngIf="!message.msgSolicitante; else text"
                        [innerHTML]="getInnerMessage(message.mensagem)"></div>
                    <ng-template #text>{{message.mensagem}}</ng-template>
                    <div class="date-time">
                        {{message.dataCriacao | date: 'HH:mm'}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center mt-4">
        <button class="cancel" type="button" (click)="close()">Fechar</button>
    </div>

</div>
