.content {
    .received {
        background-color: #c5c5c5;
        border-radius: 0 24px 24px 24px;
        .date-time {
            left: 20px;
        }
    }

    .sent {
        background-color: #6f1df4;
        border-radius: 24px 24px 0 24px;
        .date-time {
            right: 20px;
            color: rgb(158, 154, 154) !important;
        }
    }

    .message {
        min-width: 60px;
        padding: 16px;
        color: white;
        margin-bottom: 10px;
        position: relative;
        .date-time {
            position: absolute;
            bottom: 0;
            font-size: 10px;
            color: #656565;
            font-weight: 700;
        }
    }

    .cancel {
        height: 48px;
        background-color: #c5c5c5;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 20px;
        border: none;
        width: 200px;
    }
}

.fa-2x {
  font-size: 2em;
}
