<div class="header d-flex justify-content-between align-items-center">
    <div class="logo">
        <img routerLink="/home" [queryParams]="{'codigoCartorio': registry.codigo}" class="icon c-p"
            [src]="registry.urlLogo" width="140px" alt="">
    </div>
    <div class="user d-flex align-items-center">
        <div ngbDropdown class="d-inline-block d-flex align-items-center">
          <!--   <div class="position-relative">
                <i class="bi bi-bell mr-3"></i>
                <div class="new-notification"></div>
            </div> -->
            <button class="button-user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                <img class="icon" src="../assets/user.svg" alt="">
                {{user.sub}}
                <img src="../../../assets/dropdown.svg" alt=""></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="redirect()" ngbDropdownItem>Meus dados</button>
                <button (click)="leave()" ngbDropdownItem>Sair</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning" [ngClass]="{'show-alert': new, 'hide-alert': !new}" role="alert">
    Notificação recebida
</div>