.button-user {
    border: none;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.user {
    padding: 0px;
}

.img.icon {
    padding: 6px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.ngbdropdownmenu {
    transform: translate3d(10px, 52px, 0px);
}

@media (max-width: 500px) {
    .header {
        padding: 0 20px;
        .logo {
            img {
                width: 80px;
            }
        }
    }
}

.bi-bell {
    font-size: 20px;
}

.new-notification {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.alert {
    transition: 300ms;
    position: fixed;
    top: 30px;
    opacity: 0;
    left: 0;
    transform: translateX(-50%) !important;
}

.show-alert {
    left: 50%;
    opacity: 1;
}

.hide-alert {
    left: 0;
    opacity: 0;
}
