<form [formGroup]="dados" class="row">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">

            <ng-template ngbNavContent>

                <div class="subtitle-solicitation mt-4 mb-4">Selecione o tipo de certidão e a forma que deseja solicitar
                    o registro para prosseguir.</div>
                <div class="d-flex flex-column w-100 position-relative mb-4 form-group">
                    <label for="">Tipo Certidão</label>
                    <select [ngClass]="{'invalid-form-field': tipoCertidao == '' && certidaoVazia}" name=""
                        [(ngModel)]="tipoCertidao" [ngModelOptions]="{standalone: true}" id=""
                        class="w-30 form-control">
                        <option selected value="">Selecione</option>
                        <option *ngFor="let tipoCertidao of tiposCertidao; index as i" value="{{ tipoCertidao.chave }}">
                            {{ tipoCertidao.descricao }}</option>
                    </select>
                </div>

                <div class="d-flex flex-column form-group position-relative form-group mb-4">
                    <label for="">Informe o número de matrícula, transcrição, lote e quadra, ou outro documento no
                        campo abaixo. *</label>
                    <textarea [ngClass]="{'invalid-form-field': descricao == ''&& descricaoVazia}"
                        [(ngModel)]="descricao" [ngModelOptions]="{standalone: true}" class="form-control"
                        maxlength="3000"></textarea>
                </div>

                <div class="d-flex flex-column form-group position-relative form-group mb-4">
                    <label for="">Possui uma cópia do documento acima? </label>
                    <div class="d-table w-100 file-content mt-1">
                        <div class="d-table-cell file-control">
                            <i class="bi bi-cloud-upload"></i>
                            <ng-container *ngIf="arquivos.length == 0; else hasFilesTemplate">
                                <div>Clique ou arraste os arquivos aqui</div>
                            </ng-container>
                            <ng-template #hasFilesTemplate>
                                Você adicionou {{ arquivos.length }}
                                {{ arquivos.length === 1 ? "arquivo" : "arquivos" }}
                            </ng-template>
                        </div>
                        <input type="file" id="anexo" name="anexo" class="form-control-file" multiple
                            (change)="selecionarArquivo($event)" DraggableFile />
                    </div>
                </div>
            </ng-template>
        </li>

        <li [ngbNavItem]="2">

            <ng-template ngbNavContent>
                <div class="row">
                    <div class="subtitle-solicitation mt-4 mb-4">Dados do solicitante</div>
                    <div class="form-group mb-4 col-6">
                        <label for="">Nome completo *</label>
                        <input readonly formControlName="nomeSolicitante" type="text" class="form-control"
                            placeholder="Digite seu nome completo">
                    </div>
                    <div class="form-group mb-4 col-6">
                        <label for="">CPF / CNPJ *</label>
                        <input [ngClass]="{'invalid-form-field': validateFormField(dados.get('cpfCnpj'))}"
                            on-focusout="cpfCnpjIsReal(dados.get('cpfCnpj').value, dados.get('cpfCnpj'))"
                            formControlName="cpfCnpj" type="text" class="form-control"
                            placeholder="Digite seu cpf ou cnpj" mask="000.000.000-00||00.000.000/0000-00">
                    </div>
                    <div class="form-group mb-4 col-6">
                        <label for="">Telefone *</label>
                        <input [ngClass]="{'invalid-form-field': validateFormField(dados.get('telefoneSolicitante'))}"
                            on-focusout="phoneNumberIsReal(dados.get('telefoneSolicitante').value,dados.get('telefoneSolicitante'))"
                            mask="(00) 0000-0000||(00) 00000-0000" formControlName="telefoneSolicitante" type="text"
                            class="form-control" placeholder="Digite seu telefone">
                    </div>
                    <div class="form-group mb-4 col-6">
                        <label for="">E-mail *</label>
                        <input readonly formControlName="emailSolicitante" type="email" class="form-control"
                            placeholder="Digite seu e-mail">
                    </div>
                </div>
                <div class="form-group mb-2 col-12">
                    <label for="mensagem">Mensagem *</label>
                    <textarea [ngClass]="{'invalid-form-field': validateFormField(dados.get('mensagem'))}"
                        formControlName="mensagem" maxlength="3000" class="form-control"
                        placeholder="Digite uma mensagem" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <div>{{dados.get('mensagem').value.length}} / 3000</div>
                </div>

            </ng-template>

        </li>

        <li [ngbNavItem]="3">
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="subtitle-solicitation mt-4 mb-4">Endereço do solicitante</div>
                    <div class="form-group mb-4 col-6">
                        <label for="nome">Cep *</label>
                        <input mask="00000-000" (keyup)="carregarEndereco(1)"
                            [ngClass]="{'invalid-form-field': validateFormField(dados.get('cep'))}"
                            formControlName="cep" type="text" class="form-control" placeholder="Digite seu nome cep">
                    </div>
                    <div class="form-group mb-4 col-6">
                        <label for="nome">Logradouro *</label>
                        <input [ngClass]="{'invalid-form-field': validateFormField(dados.get('logradouro'))}"
                            formControlName="logradouro" type="text" class="form-control"
                            placeholder="Digite sua rua/avenida/alameda...">
                    </div>

                    <div class="form-group mb-4 col-6">
                        <label for="nome">Número *</label>
                        <input [ngClass]="{'invalid-form-field': validateFormField(dados.get('numero'))}"
                            formControlName="numero" type="text" class="form-control"
                            placeholder="Digite o número da residência">
                    </div>

                    <div class="form-group mb-4 col-6">
                        <label for="nome">Complemento</label>
                        <input formControlName="complemento" type="text" class="form-control"
                            placeholder="Digite um complemento, caso houver">
                    </div>

                    <div class="form-group mb-4 col-6">
                        <label for="nome">Estado *</label>
                        <select (change)="changeState(dados.get('estado').value)"
                            [ngClass]="{'invalid-form-field': validateFormField(dados.get('estado'))}"
                            formControlName="estado" type="text" class="form-select">
                            <option value="">Selecione</option>
                            <option [value]="state" *ngFor="let state of states">{{state}}</option>
                        </select>
                    </div>
                    <div class="form-group mb-4 col-6">
                        <label for="nome">Cidade *</label>
                        <select [ngClass]="{'invalid-form-field': validateFormField(dados.get('cidade'))}"
                            formControlName="cidade" type="text" class="form-select">
                            <option disabled>Selecione um estado</option>
                            <option [value]="city" *ngFor="let city of cities || []">{{city}}</option>
                        </select>
                    </div>
                </div>

            </ng-template>
        </li>

        <li [ngbNavItem]="4">
            <ng-template ngbNavContent>
                <div class="subtitle-solicitation form-group mt-4 mb-4">Forma de entrega</div>
                <div class="d-flex align-items-center form-group">
                    <div class="form-check" style="margin-right: 20px !important;">
                        <input (change)="formaEntrega(1)" class="form-check-input" type="radio" id="formaDeEntrega1"
                            [checked]="formaDeEntrega == 1">
                        <label class="form-check-label" for="formaDeEntrega1">
                            Retirar no cartório
                        </label>
                    </div>
                    <div class="form-check">
                        <input (change)="formaEntrega(2)" class="form-check-input" type="radio" id="formaDeEntrega2"
                            [checked]="formaDeEntrega == 2">
                        <label class="form-check-label" for="formaDeEntrega2">
                            Entregar no endereço
                        </label>
                    </div>
                </div>

                <div class="form-group mt-4" *ngIf="formaDeEntrega == 2">
                    <p class="mt-2rem">O endereço de entrega é o mesmo do solicitante? *</p>
                    <div class="d-flex align-items-center form-group position-relative">
                        <div class="form-check" style="margin-right: 20px !important;">
                            <input (change)="enderecoEntrega(1)" class="form-check-input" type="radio"
                                name="enderecoEntrega" id="enderecoEntrega1" [checked]="enderecoDeEntrega == 1">
                            <label class="form-check-label mt-0 mr-2" for="enderecoEntrega1">
                                Sim </label>
                        </div>
                        <div class="form-check">
                            <input (change)="enderecoEntrega(2)" class="form-check-input" type="radio"
                                name="enderecoEntrega" id="enderecoEntrega2" [checked]="enderecoDeEntrega == 2">
                            <label class="form-check-label m-0" for="enderecoEntrega2">
                                Não</label>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-4 mt-4" *ngIf="enderecoDeEntrega == 2 && formaDeEntrega == 2">
                    <p class="mt-2rem">Informe o endereço de entrega.</p>
                    <div class="row">
                        <div class="form-group mb-4 col-6">
                            <label for="nome">Cep *</label>
                            <input mask="00000-000" (keyup)="carregarEndereco(2)"
                                [ngClass]="{'invalid-form-field': validateFormField(dados.get('cepEntrega'))}"
                                formControlName="cepEntrega" type="text" class="form-control"
                                placeholder="Digite o cep de entrega">
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="nome">Logradouro *</label>
                            <input [ngClass]="{'invalid-form-field': validateFormField(dados.get('logradouroEntrega'))}"
                                formControlName="logradouroEntrega" type="text" class="form-control"
                                placeholder="Digite sua rua/avenida/alameda...">
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="nome">Número *</label>
                            <input [ngClass]="{'invalid-form-field': validateFormField(dados.get('numeroEntrega'))}"
                                formControlName="numeroEntrega" type="text" class="form-control"
                                placeholder="Digite o número da residência">
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="nome">Complemento</label>
                            <input formControlName="complementoEntrega" type="text" class="form-control"
                                placeholder="Digite um complemento, caso houver">
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="nome">Estado *</label>
                            <select (change)="changeState(dados.get('estadoEntrega').value)"
                                [ngClass]="{'invalid-form-field': validateFormField(dados.get('estadoEntrega'))}"
                                formControlName="estadoEntrega" type="text" class="form-select">
                                <option value="">Selecione</option>
                                <option [value]="state" *ngFor="let state of states">{{state}}</option>
                            </select>
                        </div>
                        <div class="form-group mb-4 col-6">
                            <label for="nome">Cidade *</label>
                            <select [ngClass]="{'invalid-form-field': validateFormField(dados.get('cidadeEntrega'))}"
                                formControlName="cidadeEntrega" type="text" class="form-select">
                                <option disabled>Selecione um estado</option>
                                <option [value]="city" *ngFor="let city of cities || []">{{city}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4" *ngIf="formaDeEntrega == 2 && formaDeEntrega == 2">
                    <p class="mt-2">A entrega será realizada por Correio ou Delivery? *</p>
                    <div *ngIf="correioDeDelivery == 2" class="d-flex align-items-center obs"><img
                      src="../../../assets/info.svg" alt="">
                        A entrega por Delivery está disponível somente para Barra do Garças, Aragarças e Pontal do
                        Araguaia
                    </div>
                    <div class="d-flex align-items-center position-relative mt-4">
                        <div class="form-check" style="margin-right: 20px !important;">
                            <input (change)="correioDelivery(1)" class="form-check-input" type="radio"
                                name="correioDelivery" id="correioDelivery1" [checked]="correioDeDelivery == 1">
                            <label class="form-check-label mt-0 mr-2" for="correioDelivery1">
                                Correio </label>
                        </div>
                        <div class="form-check">
                            <input (change)="correioDelivery(2)" class="form-check-input" type="radio"
                                name="correioDelivery" id="correioDelivery2" [checked]="correioDeDelivery == 2">
                            <label class="form-check-label m-0" for="correioDelivery2">
                                Delivery</label>
                        </div>
                    </div>
                </div>



                <div *ngIf="correioDeDelivery == 2">
                    <p class="mt-2rem">Selecione a área de entrega *</p>
                    <div class="d-flex align-items-center form-group position-relative">
                        <div class="form-check" style="margin-right: 20px !important;">
                            <input (change)="areaEntrega(1)" class="form-check-input" type="radio" name="area"
                                id="area1" [checked]="area == 1">
                            <label class="form-check-label mt-0 mr-2" for="area1">
                                Urbana </label>
                        </div>
                        <!-- <div class="form-check">
                            <input (change)="areaEntrega(2)" class="form-check-input" type="radio" name="area"
                                id="area2" [checked]="area == 2">
                            <label class="form-check-label m-0" for="area2">
                                Rural</label>
                        </div> -->

                    </div>
                </div>


            </ng-template>
        </li>

        <li [ngbNavItem]="5">
            <ng-template ngbNavContent>
                <div class="subtitle-solicitation form-group mt-4 mb-4">Confira se o pedido está correto para concluir a
                    sua solicitação</div>
                <div class="mt-2rem mb-2rem mr-0 d-flex justify-content-end"><button (click)="adicionarMais()"
                        class="button" [ngStyle]="{'background-color': buttonColor}"> Incluir
                        mais certidões</button></div>
                <table formArrayName="certidoes" class="w-100 mt-4">
                    <th>Tipo de Certidão</th>
                    <th>Tipo do Pedido</th>
                    <th>Prazo</th>
                    <th> Valor </th>

                    <th *ngIf="certidoes.length > 1" class="text-center">Excluir</th>
                    <tr *ngFor="let certidao of certidoes.controls; index as i">
                        <td>{{ traducaoCertidao[certidao.get('tipoCertidao').value].descricao }}</td>
                        <td>
                            <div style="width: 250px !important;" class="text-truncate">
                                {{ certidao.get('descricao').value }}
                            </div>
                        </td>
                        <td>5 dias úteis</td>
                        <td>{{valoresCertidao[certidao.get('tipoCertidao').value]?.valor || 0 | currency: 'BRL'}}</td>
                        <td *ngIf="certidoes.length > 1" (click)="excluirCertidao(i)"
                            class="d-flex align-items-center justify-content-center c-p">
                            <img  class="m-0" src="../../../assets/exclude.svg" alt=""></td>
                    </tr>
                    <tr class="border-total" *ngIf="formaDeEntrega === 2">
                        <td>{{translateFreight()}}</td>
                        <td></td>
                        <td></td>
                        <td>{{frete | currency: 'BRL': true}}</td>
                        <td *ngIf="certidoes.length > 1"></td>
                    </tr>
                    <tr class="border-total">
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td>{{somarValoresCertidao() | currency: 'BRL': true}}</td>
                        <td *ngIf="certidoes.length > 1"></td>
                    </tr>

                </table>

            </ng-template>

    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <div class="required mt-5">
        Os campos com (*) são de preenchimento obrigatório.
    </div>

    <div class="d-flex w-100 mt-5">
        <button (click)="voltar()" type="button" class="w-100 back-btn">
            Voltar
        </button>
        <button type="submit" (click)="prosseguir()" [ngStyle]="{'background-color': buttonColor}" class="w-100 button">
            Prosseguir
        </button>
    </div>
    <br><br>


</form>
