
.success {
  flex-direction: column;
  justify-content: center;
    font-family: "Inter";
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
}
.body {
    margin: 80px 0px 80px 0px;
}

.back-btn{
    background-color: #c5c5c5;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    margin: 42px 0px 0px;
    padding: 0 20px;
    border: none;
    width: fit-content;
    height: 48px;
    margin-right: 20px !important;

}

.button {
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    margin: 42px 0px 0px;
    padding: 0 20px;
    border: none;
    width: fit-content;
    height: 48px;
    margin-right: 20px !important;
}
