<div class="content">
  <div class="body">

    <div class="success">
      <p class="text-center">Confirmar as informações digitadas?</p>
      <div *ngIf="checkedFreight">
        <br>
        <p class="text-justify px-4 mb-0"><i>*Não foi possível calcular o frete da sua solicitação
            neste momento, portanto, o valor da solicitação será alterado após nossa análise.</i></p>
        <br>
      </div>

      <!--  <br>
            <button class="button" (click)="redirect()">
                Acessar solicitação
            </button> -->
      <div class="d-flex justify-content-center">
        <button class="back-btn" (click)="close()">
          Cancelar
        </button>
        <button [ngStyle]="{'background-color': buttonColor}" class="button" (click)="submit()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
