.line {
    border-bottom: 2px solid #a0a0a0;
    width: 100%;
    height: 29px;
}


.status {
    display: flex;
    align-items: center;
    .desc {
      font-size: 12px;
      margin-top: 8px;
      text-overflow: ellipsis;
      width: 130px;
      overflow: hidden;
      white-space: nowrap;
    }
    img {
      margin-top: -3px;
      width: 56px;
      &.arrow-right {
        transform: rotate(-90deg);
      }
      &.arrow-left {
        transform: rotate(90deg);
      }
    }
    .line {
      border-bottom: 2px solid #a0a0a0;
      width: 100%;
      height: 29px;
    }
    .circle {
      align-items: center;
      //
    }
  }
.back-btn {
    height: 48px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.44);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 12px 16px 12px 2px;
}

.back-btn-r {
    height: 48px;
    border-radius: 8px;
    background: rgba(196, 196, 196, 0.44);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 12px 2px 12px 2px;
    margin-left: 50px;
}

.resolve-btn {
    width: 110px;
    height: 37px;
    border-radius: 8px;
    background: rgba(196, 196, 196, 0.44);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    border: none;
    padding: 12px 12px 12px 2px;
}

.solicitation-card {
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #6f1df4;
    border-radius: 20px;
    padding: 12px 26px;
}

.content {
    margin: 55px 68px;
}

.content-menu {
    margin: 55px 20px 0px 20px;
}

.header-line {
    margin-bottom: 40px;
}

.title-solicitation {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin: 0px 0px 44px 0;
}

.card-solicitation {
    width: 100%;
    background: #ffffff;
    box-shadow: -1px 1px 5px rgb(0 0 0 / 25%);
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 37px 37px;
    margin-bottom: 14px;
}

.title {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

table {
    width: 100%;
}

.th {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.b {
    font-weight: bold;
}

.mb-tittle {
    margin-bottom: 10px;
}

.mb-status {
    margin-bottom: 4px;
}

.tittle {
    font-weight: 700 !important;
}

.first-line {
    margin-bottom: 10px;
}

.status {
    text-align: center;
}

.tr {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.approved {
    background-color: #50de50;
}

.rejected {
    background-color: #f40a0a;
}

::ng-deep p {
    margin: 0px;
}


.pending {
    background-color: #ffbf00;
}

.w-70 {
    width: 70%;
}

.w-16 {
    width: 16.6%;
}

.w-25 {
  width: 25%;
}

.w-16 {
    width: 16.6%;
}


.w-100px {
    width: 100px;
}
.status-t {
    width: 70%;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    height: 37px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
 }

 .status-t-90 {
    width: 90%;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    height: 37px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
 }

.status-confirmar {
    width: 90%;
    background: rgba(254, 193, 36, 0.19);
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    height: 37px;
    color: #d64507;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}

.reg-size {
    button {
        margin-right: 10px !important;
    }
}

.approve-btn {
    width: 110px;
    background: rgba(0, 127, 0, 0.14);
    color: #055505;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    height: 35px;
    font-size: 12px;
    border: none;
    padding: 12px 12px 12px 4px;
}

.reject-btn {
    width: 110px;
    background: #e5e5e5;
    color: #ff2222;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    height: 35px;
    font-size: 12px;
    border: none;
    padding: 12px 12px 12px 2px;
}

.resp-100 {
    width: 50%;
}

.resp-margin {
    margin-right: 20px;
}

.multiple-lines {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
    font-size: 10px;
}

.bi-cloud-download{
    margin-right: 10px;
}

::ng-deep .popover{
    min-width: 320px;
}

@media (max-width: 950px) {
    .resp-100 {
        width: 100% !important;
        padding: 0;
    }
    .content {
        margin: 55px 20px 0px 20px;
    }
    .back-btn {
        margin-left: 50px;
    }
}

@media (max-width: 530px) {
    .resp-500 {
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
    }
    .approve-btn {
        margin-right: 20px;
        margin-top: 20px !important;
    }
    .reject-btn {
        margin-top: 20px !important;
    }
    .action {
        flex-direction: row !important;
    }
    .orientation {
        flex-direction: column !important;
    }
    .pending-orientation {
        flex-direction: column;
        .resolve-btn {
            margin-top: 20px;
        }
    }
}

@media (max-width: 397px) {
    .title {
        font-size: 22px;
    }
}
