<div class="content" [ngClass]="{'content-menu' : screen <= 500}">
  <div class="header-line">
    <div class="d-flex justify-content-between align-items-center" *ngIf="screen > 500">
      <button (click)="location.back()" class="back-btn d-flex align-items-center">
        <img class="icon" src="../../../assets/back.svg" alt="">
        Voltar
      </button>
      <div [ngStyle]="{'background-color': buttonColor}"
        class="solicitation-card d-flex justify-content-center align-items-center"> Solicitação nº
        {{solicitation.codigoSimples}}
      </div>
      <div style="width: 115px;"> </div>
    </div>

    <div class="d-flex justify-content-between align-items-center" *ngIf="screen <= 500">
      <button (click)="location.back()" class="back-btn-r d-flex align-items-center">
        <img class="icon" src="../../../assets/back.svg" alt="">
      </button>

      <div [ngStyle]="{'background-color': buttonColor}"
        class="solicitation-card d-flex justify-content-center align-items-center">
        nº {{solicitation.codigoSimples}}
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="title">Detalhes da solicitação</div>
  </div>

  <div class="alert alert-warning mt-5" role="alert" *ngIf="solicitation.dataAgendamento">
    O agendamento da sua escritura é para o dia {{solicitation.dataAgendamento | date: 'dd/MM/yyyy HH:mm:ss'}}
  </div>


  <!--   <div class="w-100" style="overflow-x: scroll;">
    <div class="status mb-4 mt-4">
      <div class="d-flex flex-column w-100 align-itens-unset" *ngFor="let s of statusList; let i = index">
        <div class="d-flex" style="max-width: 150px;">
          <div class="line"></div>
          <div tooltipClass="tooltip-primary" ngbTooltip="{{ status[s].value }}" class="circle d-flex flex-column">
            <img [src]="getCurrentImageStatus(s)" alt="" />
          </div>
          <div class="line"></div>
        </div>
        <p class="align-self-center desc">
          {{ status[s].value || status[s].description }}
        </p>
      </div>
    </div>
  </div> -->

  <!-- Dados da solicitação -->
  <div class="d-flex justify-content-between align-items-center">
    <div class="title-solicitation">Dados do solicitante</div>
  </div>

  <div *ngIf="screen > 1150" class="card-solicitation text-break">
    <table>
      <th>Data da solicitação</th>
      <th>Nome completo</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th class="text-center">Status</th>

      <tr>
        <td>{{solicitation.dataCriacao | date: 'dd/MM/yyyy'}}</td>
        <td>{{solicitation.pessoa.nome}}</td>
        <td>{{solicitation.pessoa.telefone | mask: solicitation.pessoa.telefone && solicitation.pessoa.telefone.length >
          10 ? '(00) 00000-0000' : '(00)
          0000-0000'}}</td>
        <td>{{solicitation.pessoa.email}}</td>
        <td>
          <div class="status-confirmar">{{status[solicitation.codigoStatus].description}}</div>
        </td>
      </tr>

    </table>
    <div class="d-flex flex-column" *ngIf="solicitation.retirada">
      <hr>
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="d-flex flex-column" *ngIf="solicitation.retirada">
          <div class="b mb-tittle">Tipo de retirada</div>
          <div>{{solicitation.retirada == 1 ? 'Retirar no cartório' : 'Entregar no endereço'}}</div>
        </div>
        <div class="d-flex flex-column" *ngIf="solicitation.retirada == 2 && solicitation.retirada">
          <div class="b mb-tittle">Tipo entrega</div>
          <div>{{solicitation.tipoEntrega == 1 ? 'Correio' : 'Delivery'}}</div>
        </div>
        <div class="d-flex flex-column" *ngIf="solicitation.tipoEntrega == 2 && solicitation.tipoEntrega">
          <div class="b mb-tittle">Área</div>
          <div>{{solicitation.areaEntrega == 1 ? 'Urbana' : 'Rural'}}</div>
        </div>

      </div>
    </div>

    <hr>
    <p><b>Mensagem:</b> {{solicitation.mensagem}}</p>
  </div>

  <div *ngIf="screen <= 1150">
    <div class="w-100 card-solicitation d-flex align-items-start flex-column">
      <div class="d-flex justify-content-between w-100">
        <div>
          <div class="d-flex flex-column justify-content-between align-items-start">
            <b>Data de criação</b>
            <div>{{solicitation.dataCriacao | date: 'dd/MM/yyyy'}}</div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-start">
            <b>Nome</b>
            <div> {{solicitation.pessoa.nome}}</div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-start">
            <b>Telefone</b>
            <div>{{solicitation.pessoa.telefone | mask: solicitation.pessoa.telefone &&
              solicitation.pessoa.telefone.length > 10 ? '(00) 00000-0000' :
              '(00) 0000-0000'}}</div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-start">
            <b>E-mail</b>
            <div>{{solicitation.pessoa.email}} </div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-start" *ngIf="solicitation.retirada">
            <b>Tipo de retirada</b>
            <div>{{solicitation.retirada == 1 ? 'Retirar no cartório' : 'Entregar no endereço'}}</div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-start" *ngIf="solicitation.retirada == 2 && solicitation.retirada">
            <b>Tipo entrega</b>
            <div>{{solicitation.tipoEntrega == 1 ? 'Correio' : 'Delivery'}} </div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-start" *ngIf="solicitation.tipoEntrega == 2 && solicitation.tipoEntrega">
            <b>Área</b>
            <div>{{solicitation.areaEntrega == 1 ? 'Urbana' : 'Rural'}} </div>
          </div>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="tittle"> Status:</div>
          <div class="status-confirmar">{{status[solicitation.codigoStatus].description}}</div>
        </div>
      </div>
      <hr>
      <b>Mensagem:</b> {{solicitation.mensagem}}

    </div>

  </div>

  <!-- Dados de precatório -->
  <div class="resp-100" *ngIf="solicitation.tipoSolicitacao == 'PRECATORIA'">
    <div class="d-flex justify-content-between align-items-center">
      <div class="title-solicitation">Dados de precatório</div>
    </div>
    <div class="card-solicitation">
      <b>Tipo de serviço: </b>{{traducao[solicitation.tipoSolicitacaoPrecatorio].value}} <br>
      <b>valor: </b>{{solicitation.valorSolicitacao | currency: 'BRL': true}} <br>
    </div>
  </div>



  <div class="row" [ngClass]="{'w-100': screen <= 950, 'm-0': screen <= 950}">
    <!-- Dados do ato -->
    <div *ngIf="solicitation.dados && solicitation.dados.length > 0">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Dados do ato</div>
      </div>
      <div class="card-solicitation">
        <div *ngFor="let actData of solicitation.dados; index as i" class="mb-2">
          <div *ngIf="solicitation.dados.length > 1" class="mb-2">Solicitação {{i + 1}}</div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Data do ato</div>
              <div>{{actData.dataAto | date: 'dd/MM/yyyy' || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Livro</div>
              <div>{{actData.livro || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Folha</div>
              <div>{{actData.folha || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Nome das partes</div>
              <div>{{actData.nomePartes || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div *ngIf="solicitation.tipoSolicitacao !== 'CERTIDAO_ESCRITURA'" class="b mb-tittle">Termo</div>
              <div>{{actData.termo || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Tipo do ato</div>
              <div>{{actData.tipoAto || '-'}}</div>
            </div>

          </div>
        </div>
        <div *ngIf="solicitation.dados.length == 0" class="w-100 mt-3 text-center">
          <i>
            <p>Sem dados</p>
          </i>
        </div>
      </div>
    </div>

    <!-- Dados da certidão -->
    <div *ngIf="solicitation.certidoes && solicitation.certidoes.length > 0">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Dados da certidão</div>
      </div>
      <div class="card-solicitation">
        <div *ngFor="let certidao of solicitation.certidoes" class="mb-2">
          <div class="d-flex align-items-center ">
            <div class="d-flex flex-column w-50">
              <div class="b mb-tittle">Tipo</div>
              <div>{{translateTypeCertificate(certidao.tipoCertidao) || '-'}}</div>
            </div>
            <div class="d-flex flex-column w-50">
              <div class="b mb-tittle">Descricao</div>
              <div>{{certidao.descricao || '-'}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="solicitation.certidoes.length == 0" class="w-100 mt-3 text-center">
          <i>
            <p>Sem dados da certidão</p>
          </i>
        </div>
      </div>
    </div>

    <!-- Dados de endereços -->
    <div *ngFor="let adress of solicitation.pessoa.enderecos; index as i">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">{{adress.tipoEndereco == 'S' ? 'Endereço do solicitante' : 'Endereço de
          entrega'}}</div>
      </div>
      <div class="card-solicitation">

        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Cep</div>
              <div>{{adress.cep | mask: '00000-000'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Logradouro</div>
              <div>{{adress.logradouro}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Número</div>
              <div>{{adress.numero}}</div>
            </div>

          </div>
          <hr>

          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Complemento</div>
              <div>{{adress.complemento || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Bairro</div>
              <div>{{adress.bairro}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Cidade</div>
              <div>{{adress.cidade}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Estado</div>
              <div>{{adress.estado}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Endereço do solicitante -->
    <div *ngIf="solicitation.tipoSolicitacao == 'CERTIDAO_REGISTRO_IMOVEIS'">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Endereço do solicitante</div>
      </div>
      <div class="card-solicitation">

        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Cep</div>
              <div>{{solicitation.cep | mask: '00000-000'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Logradouro</div>
              <div>{{solicitation.logradouro}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Número</div>
              <div>{{solicitation.numero}}</div>
            </div>

          </div>
          <hr>

          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Complemento</div>
              <div>{{solicitation.complemento || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Cidade</div>
              <div>{{solicitation.cidade}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Estado</div>
              <div>{{solicitation.estado}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Endereço de entrega -->
    <div *ngIf="solicitation.tipoSolicitacao == 'CERTIDAO_REGISTRO_IMOVEIS' && solicitation.retirada == 2">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Endereço de entrega</div>
      </div>
      <div class="card-solicitation">

        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Cep</div>
              <div>{{solicitation.cepEntrega | mask: '00000-000'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Logradouro</div>
              <div>{{solicitation.logradouroEntrega}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Número</div>
              <div>{{solicitation.numeroEntrega}}</div>
            </div>

          </div>
          <hr>

          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Complemento</div>
              <div>{{solicitation.complementoEntrega || '-'}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Cidade</div>
              <div>{{solicitation.cidadeEntrega}}</div>
            </div>
            <div class="d-flex flex-column">
              <div class="b mb-tittle">Estado</div>
              <div>{{solicitation.estadoEntrega}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Dados do Cartório -->
    <div *ngIf="solicitation.tipoSolicitacao != 'CERTIDAO_ESCRITURA' && solicitationType == 'CERTIDAO'" class="">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Dados do cartório</div>
      </div>
      <div class="card-solicitation">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Cidade</div>
            <div>{{solicitation.cidadeCertidao}}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Estado</div>
            <div>{{solicitation.estadoCertidao}}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Nome do cartório</div>
            <div>{{solicitation.cartorioCertidao}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dados da filiação -->
    <div *ngIf="solicitation.filiacaoCertidao" class="">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Dados da filiação</div>
      </div>
      <div class="card-solicitation">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="d-flex flex-column w-50">
            <div class="b mb-tittle">Filiação 1</div>
            <div>{{solicitation.filiacaoCertidao.filiacao1 || '-'}}</div>
          </div>
          <div class="d-flex flex-column w-50">
            <div class="b mb-tittle">Filiação 2</div>
            <div>{{solicitation.filiacaoCertidao.filiacao2 || '-'}}</div>
          </div>

        </div>
      </div>
      <div *ngIf="!solicitation.filiacaoCertidao" class="w-100 mt-3 text-center">
        <i>
          <p>Sem filiação</p>
        </i>
      </div>
    </div>

    <!-- Dados da identificação do certidão -->
    <div *ngIf="solicitation.identificacaoCertidao" class="">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Dados da Certidão</div>
      </div>
      <div class="card-solicitation">
        <div *ngIf="solicitation.tipoSolicitacao === 'CERTIDAO_OBITO'"
          class="d-flex justify-content-between align-items-center w-100">
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Data do óbito</div>
            <div>{{solicitation.identificacaoCertidao.dataNascimentoCasamento | date:
              'dd/MM/yyyy'}}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Nome do falecido</div>
            <div>{{solicitation.identificacaoCertidao.nomeCompleto}}</div>
          </div>
        </div>

        <div *ngIf="solicitation.tipoSolicitacao === 'CERTIDAO_CASAMENTO'"
          class="d-flex justify-content-between align-items-center w-100">
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Data do casamento</div>
            <div>{{solicitation.identificacaoCertidao.dataNascimentoCasamento | date:
              'dd/MM/yyyy'}}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Nome do cônjuge 1</div>
            <div>{{solicitation.identificacaoCertidao.nomeConjuge1}}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Nome do cônjuge 2</div>
            <div>{{solicitation.identificacaoCertidao.nomeConjuge2}}</div>
          </div>
        </div>

        <div *ngIf="solicitation.tipoSolicitacao === 'CERTIDAO_NASCIMENTO'"
          class="d-flex justify-content-between align-items-center w-100">
          <div class="d-flex flex-column">
            <div class="b mb-tittle">CPF</div>
            <div>{{solicitation.identificacaoCertidao.cpf | mask: '000.000.000-00'}}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Nome completo</div>
            <div>{{solicitation.identificacaoCertidao.nomeCompleto}}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="b mb-tittle">Data do nascimento</div>
            <div>{{solicitation.identificacaoCertidao.dataNascimentoCasamento | date:
              'dd/MM/yyyy'}}</div>
          </div>
        </div>

      </div>
    </div>

    <!-- Valores -->
    <div *ngIf="solicitationType == 'CERTIDAO' || solicitation.tipoSolicitacao == 'CERTIDAO_REGISTRO_IMOVEIS'">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Valores</div>
      </div>
      <div class="card-solicitation">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="d-flex flex-column w-50">
            <div class="b mb-tittle">Serviço</div>
            <div>{{solicitation.valorSolicitacao | currency: 'BRL': true}}</div>
          </div>
          <div class="d-flex flex-column w-50" *ngIf="solicitation.valorFrete">
            <div class="b mb-tittle">Frete</div>
            <div>{{solicitation.valorFrete  | currency: 'BRL': true}}</div>
          </div>
          <div class="d-flex flex-column w-50" *ngIf="solicitation.frete">
            <div class="b mb-tittle">Frete</div>
            <div>{{solicitation.frete | currency: 'BRL': true}}</div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pendências -->
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-solicitation">Pendências</div>
      </div>

      <div *ngIf="screen > 700" class="card-solicitation">
        <div *ngFor="let pendingItem of pendingItems; index as i; let l = last">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex flex-column w-25">
              <div *ngIf="i == 0" class="b mb-tittle first-line">Data</div>
              <div>{{pendingItem.dataPendencia | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="d-flex flex-column w-25">
              <div *ngIf="i == 0" class="b mb-tittle">Descrição</div>
              <div [id]="'innerHTMLMsgP' + i" [innerHTML]="getInnerMessage(pendingItem.textoPendencia, 'P', i)"
                [ngbTooltip]="showTooltip(pendingItem.textoPendencia)" placement="top"
                [ngbPopover]="showPendingItemMessage" popoverTitle="Mensagem">
              </div>
              <ng-template #showPendingItemMessage>
                <div [id]="'innerHTMLMsgP' + i" [innerHTML]="getInnerMessage(pendingItem.textoPendencia, 'P', i)">
                </div>
              </ng-template>
              <i *ngIf="showTooltip(pendingItem.textoPendencia) !== ''" class="bi bi-text-center multiple-lines"></i>
            </div>
            <div class="d-flex flex-column w-25">
              <div *ngIf="i == 0" class="b mb-status text-center w-70">Status</div>
              <div class="status-t"
                [ngClass]="{'pending' : pendingItem.resolvido === null, 'approved': pendingItem.resolvido === true, 'rejected': pendingItem.resolvido === false}">
                {{pendingItem.resolvido ? 'Resolvido' : pendingItem.resolvido === null ? 'Em análise' :
                'Pendente'}}</div>
            </div>
            <div class="d-flex flex-column w-25">
              <div *ngIf="i == 0" class="b mb-status  text-center">Ações</div>
              <div class="reg-size d-flex align-items-center justify-content-start">
                <button
                  *ngIf="(solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)"
                  (click)="solve(pendingItem)" class="resolve-btn d-flex align-items-center"> <img class="icon"
                    src="../../../assets/edit.svg" alt="">Resolver
                </button>
                <button class="c-p ml-3 resolve-btn d-flex align-items-center justify-content-center"
                  *ngIf="pendingItem.mensagens" (click)="history(pendingItem)"> <img class="icon"
                    src="../../../assets/history.svg" alt="">Histórico
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="l == false">
            <hr>
          </div>
        </div>
        <div *ngIf="pendingItems.length == 0" class="w-100 mt-3 text-center">
          <i>
            <p>Sem pendências</p>
          </i>
        </div>
      </div>


      <div *ngIf="screen <= 700">
        <div class="w-100 card-solicitation d-flex align-items-start flex-column"
          *ngFor="let pendingItem of pendingItems; index as i">
          <div class="d-flex justify-content-between w-100 pending-orientation">
            <div class="w-100 resp-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="tittle">Data:</div>
                <div>{{pendingItem.dataPendencia | date: 'dd/MM/yyyy'}}</div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="tittle"> Descrição:</div>

                <div class="c-p" [id]="'innerHTMLMsgP' + i"
                  [innerHTML]="getInnerMessage(pendingItem.textoPendencia, 'P', i)"
                  [ngbTooltip]="showTooltip(pendingItem.textoPendencia)" placement="top"
                  [ngbPopover]="showPendingItemMessage" popoverTitle="Mensagem">
                </div>
                <ng-template #showPendingItemMessage>
                  <div [id]="'innerHTMLMsgP' + i" [innerHTML]="getInnerMessage(pendingItem.textoPendencia, 'P', i)">
                  </div>
                </ng-template>

              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="tittle"> Status:</div>
                <div class="status-t"
                  [ngClass]="{'pending' : pendingItem.resolvido === null, 'approved': pendingItem.resolvido === true, 'rejected': pendingItem.resolvido === false}">
                  {{pendingItem.resolvido ? 'Resolvido' : pendingItem.resolvido === null ? 'Em análise' :
                  'Pendente'}}
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center flex-column align-items-center"
              *ngIf="(solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)">
              <div *ngIf="pendingItem.resolvido === false " (click)="solve(pendingItem)"
                class="resolve-btn d-flex align-items-center">
                <img class="icon" src="../../../assets/edit.svg" alt="">Resolver
              </div>
            </div>
            <a class="c-p ml-3 text-center" *ngIf="pendingItem.mensagens"
              (click)="history(pendingItem)"><u>Histórico</u></a>
          </div>

        </div>
        <div class="card-solicitation" *ngIf="pendingItems.length == 0">
          <div class="w-100 mt-3 text-center">
            <i>
              <p>Sem pendências</p>
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Documentos -->

  <div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="title-solicitation">Documentos</div>
      <div [ngStyle]="{'background-color': buttonColor}"
        *ngIf="(solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)"
        (click)="uploadDocument()" class="c-p solicitation-card d-flex justify-content-center align-items-center">
        Enviar documentos
      </div>
    </div>

    <div *ngIf="screen > 770" class="card-solicitation flex-column d-flex align-items-center justify-content-between">
      <div *ngFor="let document of userDocuments; index as i" class="d-flex w-100 justify-content-between">
        <div class="d-flex flex-column w-25">
          <div *ngIf="i == 0" class="b mb-tittle">Data do envio</div>
          <div>{{document.dataCriacao | date: 'dd/MM/yyyy HH:mm'}}</div>
        </div>
        <div class="d-flex flex-column w-25">
          <div *ngIf="i == 0" class="b mb-tittle">Descrição</div>
          <div>{{document.descricao}}</div>
        </div>
        <div class="d-flex flex-column w-25">
          <div *ngIf="i == 0" class="b mb-tittle">Participante</div>
          <div>{{document.nomeParticipante}}</div>
        </div>
        <div class="d-flex flex-column w-25">
          <div *ngIf="i == 0" class="b mb-tittle">Documentos</div>
          <div (click)="downloadFile(document.arquivo.link)" class="c-p ellipsis"><img class="icon"
              src="../../../../assets/download.svg" alt="">
            {{document.arquivo.nome}}</div>
        </div>

      </div>

      <div *ngIf="userDocuments.length == 0" class="w-100 mt-3 text-center">
        <i>
          <p>Sem documentos</p>
        </i>
      </div>

    </div>

    <div *ngIf="screen <= 770">
      <div class="card-solicitation p-4 row" *ngFor="let document of userDocuments; index of i">
        <div class="col-6 d-flex flex-column mb-2">
          <b>Data de envio</b>
          <div>{{document.dataCriacao | date: 'dd/MM/yyyy HH:mm'}}</div>
        </div>
        <div class="col-6 d-flex flex-column mb-2 align-items-end">
          <b>Documentos</b>
          <div class="ellipsis" (click)="downloadFile(document.arquivo.link)">
            <i class="bi bi-cloud-download"></i>Download
          </div>
        </div>
        <div class="col-12 d-flex flex-column mb-2">
          <b>Descrição</b>
          <div> {{document.descricao || '-'}}</div>
        </div>
        <div class="col-6 d-flex flex-column mb-2">
          <b>Participante</b>
          <div> {{document.nomeParticipante || '-'}}</div>
        </div>
        <!-- <div class="col-6 d-flex flex-column mb-2">
              <div class="cancel-btn">
                Editar
              </div>
            </div> -->
      </div>
      <div class="card-solicitation p-4" *ngIf="userDocuments.length == 0">
        <div class="w-100 text-center">
          <i>Sem documentos</i>
        </div>
      </div>
    </div>

  </div>

  <!-- Orçamentos e Aprovações -->
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="title-solicitation">Orçamentos e aprovações</div>
    </div>

    <div *ngIf="screen > 1380" class="card-solicitation flex-column d-flex align-items-center justify-content-between">
      <div *ngFor="let document of documents; index as i; let l = last" class="w-100">
        <div class="d-flex w-100 justify-content-between">
          <div class="d-flex flex-column w-16">
            <div *ngIf="i == 0" class="b mb-tittle">Data de criação</div>
            <div>{{document.dataCriacao | date: 'dd/MM/yyyy'}}</div>
          </div>
          <div class="d-flex flex-column w-100px">
            <div *ngIf="i == 0" class="b mb-tittle">Assunto</div>
            <div class="text-truncate">{{document.tipoAssunto == "OUTROS" ? document.descricaoTipoAssuntoOutros
              :
              subject[document.tipoAssunto].description}}</div>
          </div>
          <div class="d-flex flex-column w-16 align-items-center">
            <div *ngIf="i == 0" class="b mb-tittle text-center mb-1">Status</div>
            <div class="status-t-90"
              [ngClass]="{'approved': document.aprovado == true, 'rejected': document.aprovado == false, 'pending': document.aprovado == null }">
              {{document.aprovado == true ? 'Aprovado' : document.aprovado == false ? 'Reprovado' : 'Pendente'}}
            </div>
          </div>
          <div class="d-flex flex-column w-16">
            <div *ngIf="i == 0" class="b mb-tittle">Mensagem</div>
            <div>
              <div [id]="'innerHTMLMsgD' + i" [ngbTooltip]="showTooltip(document.descricao)"
                [innerHTML]="getInnerMessage(document.descricao, 'D', i)" placement="top"
                [ngbPopover]="showDocumentMessage" popoverTitle="Mensagem">
              </div>
              <ng-template #showDocumentMessage>
                <div [id]="'innerHTMLMsgD' + i" [innerHTML]="getInnerMessage(document.descricao, 'D', i)">
                </div>
              </ng-template>
              <i *ngIf="showTooltip(document.descricao) !== ''" class="bi bi-text-center multiple-lines"></i>
            </div>
          </div>
          <div class="d-flex flex-column w-16">
            <div *ngIf="i == 0" class="b mb-tittle text-center">Documentos</div>
            <div class="c-p" (click)="downloadDocument(document)"><img class="icon" src="../../../assets/download.svg"
                alt="">Download</div>
          </div>
          <div class="d-flex flex-column w-25">
            <div class="b mb-tittle text-center"
              *ngIf="((solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)) && i == 0">
              Ações</div>
            <div class="d-flex align-items-center" [ngClass]="{'justify-content-center': document.aprovado !== null,
                    'justify-content-between': document.aprovado == null}"
              *ngIf="(solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)">
              <div *ngIf="document.aprovado == false || document.aprovado == null" (click)="approve(document)"
                class="approve-btn c-p mr-2 d-flex justify-content-center align-items-center mt-2">
                <img class="icon" src="../../../assets/approve.svg" alt="">
                Aprovar
              </div>
              <div (click)="reject(document)" *ngIf="document.aprovado == true || document.aprovado == null"
                class="reject-btn c-p d-flex justify-content-center align-items-center mt-2">
                <img class="icon" src="../../../assets/reject.svg" alt="">
                Reprovar
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="l == false">
          <hr>
        </div>
      </div>
      <div *ngIf="documents.length == 0" class="w-100 mt-3 text-center">
        <i>
          <p>Sem Orçamentos</p>
        </i>
      </div>
    </div>

    <div *ngIf="screen <= 1380" class="">
      <div class="w-100 card-solicitation d-flex align-items-between flex-column "
        *ngFor="let document of documents; index as i">

        <div class="w-100 d-flex align-items-center orientation">
          <div class="d-flex justify-content-between w-100">
            <div class="resp-500 resp-margin w-100">
              <div class="d-flex justify-content-between align-items-center">
                <div class="tittle">Data criação:</div>
                <div>{{document.dataCriacao | date: 'dd/MM/yyyy'}}</div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="tittle " style="width: 150px;"> Assunto:</div>
                <div class="ellipsis">{{document.tipoAssunto == "OUTROS" ? document.descricaoTipoAssuntoOutros
                  :
                  subject[document.tipoAssunto].description}} </div>
              </div>
              <div class="d-flex justify-content-between align-items-center c-p">
                <div class="tittle"> Mensagem: </div>
                <div [id]="'innerHTMLMsgD' + i" [ngbTooltip]="showTooltip(document.descricao)"
                  [innerHTML]="getInnerMessage(document.descricao, 'D', i)" placement="top"
                  [ngbPopover]="showDocumentMessage" popoverTitle="Mensagem">
                </div>
                <ng-template #showDocumentMessage>
                  <div [id]="'innerHTMLMsgD' + i" [innerHTML]="getInnerMessage(document.descricao, 'D', i)">
                  </div>
                </ng-template>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="tittle"> Documentos: </div>
                <div class="c-p d-flex align-items-center" (click)="downloadDocument(document)"><img class="icon"
                    src="../../../assets/download.svg" alt=""> Download </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="tittle">Status:</div>
                <div class="status-t"
                  [ngClass]="{'approved': document.aprovado == true, 'rejected': document.aprovado == false, 'pending': document.aprovado == null }">
                  {{document.aprovado == true ? 'Aprovado' : document.aprovado == false ? 'Reprovado' :
                  'Pendente'}}
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center flex-column align-items-center action">
            <div
              *ngIf="(document.aprovado == false || document.aprovado == null) && (solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)"
              (click)="approve(document)"
              class="approve-btn c-p mr-2 d-flex justify-content-center align-items-center mt-2">
              <img class="icon" src="../../../assets/approve.svg" alt="">
              Aprovar
            </div>
            <div
              *ngIf="(document.aprovado == true || document.aprovado == null) && (solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)"
              (click)="reject(document)" class="reject-btn c-p d-flex justify-content-center align-items-center mt-2">
              <img class="icon" src="../../../assets/reject.svg" alt="">
              Reprovar
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="documents.length === 0" class="card-solicitation w-100 text-center">
        <i>Sem orçamentos</i>
      </div>
    </div>
  </div>

</div>

<br><br><br>
<app-chat
  *ngIf="(solicitationType == 'CERTIDAO' && solicitation.codigoStatus !=4 && solicitation.codigoStatus != 5) || (solicitationType == 'ESCRITURA' && solicitation.codigoStatus !=10 && solicitation.codigoStatus != 9)"
  [messages]="messages" (update)="loadMessages()" [open]="messages.length > 0 ? true : false"
  [solicitation]="solicitation"></app-chat>
