.content {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 40px;
}

.start {
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.btn-link {
  color: #507bff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
  color: #507bff;
  cursor: pointer;
}

.first-access {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 25px 25px 40px 0px;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
  color: blue;
  cursor: pointer;
}

input {
  margin: 4px 10px 25px 0px;
}
input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.button {
  height: 48px;
  font-family: "Inter", sans-serif;
  background-color: #6f1df4;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
}

.button-back {
  height: 48px;
  background-color: #c5c5c5;
  color: black;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  margin-right: 57px;
}

.password {
  font-size: 14px;
  font-weight: 300;
  color: red;
  margin: 0px 0px 20px 0px;
}

.form {
  padding: 40px 68px;
}

.background-img {
  background-image: url("../../../assets/businessman-reading-contract-closeup.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

@media (max-width: 580px) {
  .resp-btn {
    flex-direction: column;
    .button-back {
      margin-bottom: 20px;
    }
    button {
      width: 100%;
    }
  }
  .col-6 {
    width: 100% !important;
  }

  .start {
    text-align: center;
    margin-top: 17px;
  }
  .form{
    padding: 40px 30px;
  }
}
