<div class=" content row w-100 m-0">
  <div class="form ">
    <div class="d-flex justify-content-center">
      <!--  <img [src]="getRegistry.urlLogo" width="140px" alt=""> -->
    </div>
    <div class="start">
      Dados do perfil
    </div>
    <div class="first-access">
      Informações do usuário
    </div>

    <form [formGroup]="cadastro">

      <div class="row">
        <div class="form-group col-6">
          Nome
          <input formControlName="nome" placeholder="Digite seu nome" type="text" class="form-control" required />
        </div>

        <!--   <div class="form-group col-6">
          CPF/CNPJ
          <input placeholder="Digite seu e-mail" type="text" class="form-control" formControlName="cpfCnpj" required />
        </div>
         -->
        <!-- <div class="form-group col-6">
          E-mail
          <input readonly formControlName="email" placeholder="Digite seu e-mail" type="email" class="form-control"
            required />
        </div> -->

        <!-- <div class="form-group col-6">
          Telefone
          <input placeholder="Digite seu telefone" type="text" class="form-control" formControlName="telefone"
            required />
        </div> -->
        <div class="btn-link" (click)="optionChangePassword()">Alterar senha</div>

      </div>

      <!-- <div class="row" formGroupName="endereco">
        <div class="form-group col-6">
          CEP
          <input formControlName="cep" placeholder="Digite seu CEP" type="text" class="form-control" required />
        </div>

        <div class="form-group col-6">
          Logradouro
          <input placeholder="Digite seu logradouro" type="text" class="form-control" formControlName="logradouro"
            required />
        </div>

        <div class="form-group col-6">
          Bairro
          <input formControlName="bairro" placeholder="Digite seu bairro" type="text" class="form-control" required />
        </div>

        <div class="form-group col-6">
          Complemento
          <input placeholder="Digite um complemento" type="text" class="form-control" formControlName="complemento"
            required />
        </div>
        <div class="form-group col-6">
          Número
          <input placeholder="Digite o número do seu endereço" type="text" class="form-control" formControlName="numero"
            required />
        </div>

        <div class="form-group col-6">
          Estado
          <input placeholder="Digite um estado" type="text" class="form-control" formControlName="estado" required />
        </div>

        <div class="form-group col-6">
          Cidade
          <input placeholder="Digite um cidade" type="text" class="form-control" formControlName="cidade" required />
        </div>


      </div> -->

      <div class="d-flex mt-5 w-100 resp-btn">
        <button class="button-back w-100" (click)="location.back()">
          Voltar
        </button>
        <button [ngStyle]="{'background-color': buttonColor}" class="button w-100" (click)="submit()">
          Salvar
        </button>

      </div>
    </form>


  </div>
</div>
