<div class=" content row w-100 m-0">
  <div class="col-6 form">
    <div class="col-8 m-auto resp">
      <div class="d-flex justify-content-center">
        <img [src]="registry.urlLogo" width="140px" alt="">
      </div>
      <div class="start">
        Faça seu cadastro
      </div>
      <div class="first-access">
        Preeencha os campos abaixo
      </div>
      <form [formGroup]="cadastro">
        <div class="form-group label">
          Nome
          <input [ngClass]="{'invalid-form-field': validateFormField(cadastro.get('nome'))}" formControlName="nome"
            placeholder="Digite seu nome" type="text" class="form-control" required />
        </div>

        <div class="form-group label">
          E-mail
          <input [ngClass]="{'invalid-form-field': validateFormField(cadastro.get('email'))}"
            on-focusout="validacaoEmail(cadastro.controls.email.value)" placeholder="Digite seu e-mail" type="text"
            class="form-control" formControlName="email" required />
        </div>
        <div class="form-group label">
          <div class="form-group">
            Senha
            <input [ngClass]="{'invalid-form-field': validateFormField(cadastro.get('password'))}" type="password"
              class="form-control" placeholder="Digite sua senha" required formControlName="password">
            <div class="password" *ngIf="cadastro.controls.password.invalid && cadastro.controls.password.touched">
              A senha deve ter: <br>
              - Pelo menos oito caracteres; <br>
              - Pelo menos uma letra; <br>
              - Pelo menos um número e um carácter especial.</div>
          </div>
        </div>

        <ng-container *ngIf="errorMessage">
          <p class="text-center text-danger">{{ errorMessage }}</p>
        </ng-container>

        <button [ngStyle]="{'background-color': buttonColor}"
          class="button d-flex justify-content-center align-items-center" (click)="submit()">
          Cadastrar
        </button>
        <button class="button-back d-flex justify-content-center align-items-center" routerLink="/login">
          Voltar ao login
        </button>
      </form>
      <br><br>
    </div>


  </div>
  <div class="col-6 background-img" [defaultImage]="defaultImage" [lazyLoad]="">

  </div>

</div>
