<div class="content row w-100 m-0">

    <div class="col-6 form">
        <div class="col-8 m-auto resp">
            <div class="d-flex justify-content-center">
                <img [src]="getRegistry.urlLogo" width="140px" alt="">
            </div>
            <div class="start">
                Esqueci minha senha </div>
            <div class="first-access">
                Preeencha o campo abaixo para redefinir a sua senha
            </div>
            <form [formGroup]="forgot">
                <div class="form-group label">
                    Nova senha
                    <input [ngClass]="{'invalid-form-field': validateFormField(forgot.get('novaSenha'))}"
                        type="password" class="form-control" placeholder="Digite sua nova senha" required
                        formControlName="novaSenha" />
                </div>
                <div class="form-group label">
                    Confirmar senha
                    <input [ngClass]="{'invalid-form-field': validateFormField(forgot.get('confirmacaoSenha'))}"
                        formControlName="confirmacaoSenha" placeholder="Confirme sua nova senha" type="password"
                        class="form-control" required />
                </div>
                <button [ngStyle]="{'background-color': buttonColor}"
                    class="button d-flex justify-content-center align-items-center" (click)="submit()">
                    Alterar
                </button>
            </form>
            <br><br>
        </div>


    </div>
    <div class="col-6 background-img" [defaultImage]="defaultImage" [lazyLoad]="">

    </div>
</div>
