.content {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.start {
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.first-access {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 25px 25px 40px 0px;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
  color: blue;
  cursor: pointer;
}

.forgot {
  color: blue;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

input {
  margin: 4px 10px 25px 0px;
}
input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.button {
  height: 48px;
  font-family: "Inter", sans-serif;
  background-color: #6f1df4;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  width: 100%;
  margin-top: 40px;
}

.button-back {
  height: 48px;
  background-color: #c5c5c5;
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  width: 60%;
  margin-top: 40px;
}

.password {
  font-size: 14px;
  font-weight: 300;
  color: red;
  margin: 0px 0px 20px 0px;
}

.form {
  padding: 60px 0 0 0;
}

.background-img {
  background-image: url("../../../assets/businessman-reading-contract-closeup.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.remember-me {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  margin-top: 45px;
}


.label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}



@media (max-width: 1050px) {
  .first-access {
    flex-direction: column;
  }
  .link {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .background-img {
    display: none;
  }
  .form {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .resp {
    width: 90%;
  }
}
