.container {
    padding: 20px;
     
}

header {
    padding: 0px;
}

.tittle {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin: 10px 0px 0px 20px;
}
body {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.action {

    padding: 60px 0px 60px 0px;
}

.button {
    min-height: 48px;
    background-color: #6f1df4;
    color: white;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close {
    position: absolute;
    right: 21px;
    top: 21px;
}
.message {
    font-weight: 500;
    font-size: 22px;
    padding: 80px 0px 60px 0px;
}


.solicitation-card {
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #6f1df4;
    border-radius: 20px;
    padding: 12px 26px;
}

::ng-deep .modal-header {
    border: none !important;
}
