<div class="container">
    <header class="w-100 d-flex justify-content-between align-items-center">
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
        <div class="tittle"> Nova solicitação </div>
    </header>
    <hr>

    <div class="modal-body pb-3">

        <body class="d-flex flex-column justify-content-center">
            <div class="message">
                Qual tipo de solicitação você deseja criar?
            </div>
        </body>
        <div class="d-flex align-items-center action">
            <button (click)="action('ESCRITURAS')" [ngStyle]="{'background-color': buttonColor}"
                class="button cl-6">Escrituras e outros serviços</button>
            <button (click)="action('CERTIDOES')" [ngStyle]="{'background-color': buttonColor}"
                class="button cl-6">Certidão</button>
        </div>
    </div>
</div>