.tittle {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.content {
    font-family: "Montserrat", sans-serif;

}

.file-content {
    position: relative;
    border: 1px dashed #a0a0a0;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    color: #a0a0a0;
    cursor: pointer;

    .file-control {
        height: 80px;
        vertical-align: middle;
        text-align: center;
    }

    .form-control-file {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        appearance: none;
        height: 80px;
        width: 100%;
        text-indent: -999em;
        outline: none;
    }
}

.button {
    width: 50%;
    height: 48px;
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
}

.cancel {
    font-family: "Inter", sans-serif;
    height: 48px;
    background-color: #c5c5c5;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    width: 50%;
}


.text-input {
    font-size: 14px;
}

@media (max-width: 447px) {
    .resp-btn {
        flex-direction: column;
        align-items: center;
        button {
            width: 100%;
        }
        .cancel {
            margin-bottom: 20px;
        }
    }
}
