<div class="content p-5">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="tittle">Envie uma mensagem ou arquivos para resolver sua pendência</div>
        <div class="form-group mt-4">
            <textarea maxlength="3000" formControlName="mensagem" class="form-control" rows="5"></textarea>
            <p class="d-flex justify-content-end">{{form.get('mensagem').value.length}}/3000</p>
        </div>

        <div class="d-table w-100 file-content mt-5">
            <div class="d-table-cell file-control">
                <i class="fa fa-cloud-upload d-block"></i>
                <ng-container *ngIf="form.get('arquivo').value.length == 0; else hasFilesTemplate">
                    Clique ou arraste os arquivos aqui
                </ng-container>
                <ng-template #hasFilesTemplate>
                    Você adicionou {{ form.get('arquivo').value.length }}
                    {{ form.get('arquivo').value.length === 1 ? "arquivo" : "arquivos" }}
                </ng-template>
            </div>

            <input type="file" id="anexo" name="anexo" class="form-control-file" multiple
                (change)="handleSelect($event)" DraggableFile />
        </div>

        <div class="d-flex justify-content-start text-input mt-1">O tamanho máximo permitido dos arquivos é de 10MB.
        </div>

        <div class="d-flex justify-content-between mt-4 resp-btn">
            <button class="cancel" type="button" (click)="close()">Cancelar</button>
            <button [ngStyle]="{'background-color': buttonColor}" class="button" type="submit">Enviar</button>
        </div>
    </form>
</div>
