<div class="content mt-5">
  <div class="welcome"> Nova solicitação / {{translation[selectedType].description}}</div>
  <!-- <div class="message d-flex">
    <img class="icon" src="../../../assets/message-icon.svg" alt="">
    Essa é a etapa inicial da solicitação e não elimina o comparecimento no cartório.
  </div> -->

  <main>
    <div class="row mb-3 resp">
      <div class="form-group col-6" *ngIf="selectedType !== 'ESCRITURAS'">
        <label>Tipo de certidão</label>
        <select [(ngModel)]="selectedType" class="form-select">
          <option value="CERTIDOES" hidden>Selecione o tipo de certidão</option>
          <option [value]="type.chave" *ngFor="let type of typesCertidao">{{type.descricao}}</option>
        </select>
      </div>
    </div>
    <hr *ngIf="selectedType === 'CERTIDOES'">
    <ng-container [ngSwitch]="selectedType">
      <app-escrituras *ngSwitchCase="'ESCRITURAS'" [types]="types" [responsible]="responsible" [config]="config">
      </app-escrituras>
      <app-certidao-escritura *ngSwitchCase="'CERTIDAO_ESCRITURA'" [states]="states" [selectedType]="selectedType"
        [config]="config"></app-certidao-escritura>
      <app-certidao-casamento *ngSwitchCase="'CERTIDAO_CASAMENTO'" [states]="states" [selectedType]="selectedType"
        [config]="config"></app-certidao-casamento>
      <app-certidao-nascimento *ngSwitchCase="'CERTIDAO_NASCIMENTO'" [states]="states" [selectedType]="selectedType"
        [config]="config"></app-certidao-nascimento>
      <app-certidao-obito *ngSwitchCase="'CERTIDAO_OBITO'" [states]="states" [selectedType]="selectedType"
        [config]="config"></app-certidao-obito>
      <app-certidao-registro-imoveis *ngSwitchCase="'CERTIDAO_REGISTRO_IMOVEIS'" [states]="states"
        [selectedType]="selectedType" [config]="config"></app-certidao-registro-imoveis>
    </ng-container>
  </main>
</div>