.content {
    margin: 0 68px;
    font-family: "Inter", sans-serif;
}
.message {
    font-family: "Inter", sans-serif;
    width: 100%;
    background: #fffdc1;
    border-radius: 8px;
    margin: 10px 0px 40px;
    align-items: center;
    font-size: 16px;
}

.button {
    height: 48px;
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
}

.back-btn {
    height: 48px;
    margin-right: 57px;
    background-color: #c5c5c5;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
}

.welcome {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.form-group {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

input,
select,
textarea {
    margin-top: 4px;
}

.required {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

hr {
    height: 2px;
    background-color: rgba(128, 128, 128, 0.377);
}

@media (max-width: 950px) {
    .welcome {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .content {
        margin: 0 20px;
        word-break: break-word;
    }
}

@media (max-width: 620px) {
    .col-6 {
        width: 100% !important;
    }
}
