<main>
    <header class="d-flex align-items-center justify-content-center">
        <img *ngIf="isAdding" (click)="isAdding = false" class="c-p" src="../../../../../../../assets/back-m.svg"
            alt="">
        <img class="icon" src="../../../../../../assets/participants.svg" alt=""> Participantes
    </header>
    <div class="d-flex flex-column line"></div>

    <body>
        <div class="w-100" *ngIf="!isAdding">
            <div class="d-flex w-80" *ngFor="let participant of participants; index as i">
                <div class="c-p tag-participants ellipsis d-flex align-items-center" (click)="assignParticipant(participant)">
                    <img class="icon" src="../../../../../../../assets/participant.svg" alt="">
                    <div class="ellipsis">{{participant.nome}}</div>
                </div>
                <div class="edit-participants c-p" (click)="delete(participant)"><img
                        src="../../../../../../../assets/trash.svg" alt=""></div>
            </div>
            <button class="add-participant" (click)="isAdding = true">
                <img class="icon" src="../../../../../../../assets/add-m.svg" alt="">
                Adicionar</button>
        </div>
        <div *ngIf="isAdding">
            <label for="">Nome</label>
            <input type="text" class="form-control" [(ngModel)]="participant.nome">
            <button (click)="add()" [ngStyle]="{'background-color': buttonColor}" class="create">Criar</button>
        </div>
    </body>
</main>
