main {
    height: 100%;
    border: 1px solid rgb(214, 211, 211);
    border-radius: 14px;
    background: #ffffff;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
}

.tag-participants {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 46px;
    background: rgba(83, 172, 236, 0.25);
    border-radius: 10px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-right: 8px;
    padding-left: 4px;

}

.edit-participants {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    background: rgba(83, 172, 236, 0.25);
    border-radius: 10px;
    margin-top: 12px;
}

.add-participant {
    height: 46px;
    width: 100%;
    background: #f2f4f5;
    border-radius: 11px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 12px;
    padding-left: 0px;
}

.line {
    height: 1px;
    background-color: #c5c5c5;
    width: 100%;
}

label {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 10px;
}

.create {
    width: 100%;
    height: 46px;
    border: none;
    background: #6f1df4;
    border-radius: 8px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 28px;
    text-align: center;
}
