.content {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  justify-content: center;
}

.main-center {
  padding: 60px 40px 20px 40px;
  width: 500px;
  box-shadow: 0 2px 25px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.start {
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.first-access {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0px 40px 0px;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
  color: blue;
  cursor: pointer;
}

.forgot {
  color: blue;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}

input {
  height: 52px;
  padding: 12px 38px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  font-size: 14px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}

.icone {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 42px;
  left: 10px;
}
.label {
  position: relative;
}

.button {
  height: 48px;
  font-family: "Inter", sans-serif;
  background-color: #6f1df4;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  width: 100%;
  margin-top: 40px;
}

.button-back {
  height: 48px;
  background-color: #c5c5c5;
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  width: 60%;
  margin-top: 40px;
}

.password {
  font-size: 14px;
  font-weight: 300;
  color: red;
  margin: 0px 0px 20px 0px;
}

.nomeinput {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.remember-me {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  margin-top: 45px;
}

.form-check {
  margin: 4px;
}

.success {
  margin: 30px 0px 0px 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

::ng-deep .modal-header {
  border: none;
}

::ng-deep .modal-body {
  font-weight: 700;
  font-family: "Inter";
  font-size: 22px;
  padding: 0px;
}

::ng-deep .modal-body .button {
  height: 48px;
  background-color: #6f1df4;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

@media (max-width: 1050px) {
  .first-access {
    flex-direction: column;
  }
  .link {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .background-img {
    display: none;
  }
  .form {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .resp {
    width: 90%;
  }
}
