<div class="content d-flex justify-content-center align-items-center">

  <div class="main-center">
    <div class="d-flex justify-content-center mb-5">
      <img [src]="getRegistry.urlLogo" width="200px" alt="">
    </div>
    <div class="start mt-5">
      Faça seu login </div>
    <div class="first-access d-flex">
      É o seu primeiro acesso?<div (click)="redirect()" class="link"><a><u>Clique aqui.</u></a></div>
    </div>
    <form [formGroup]="login">
      <div class="form-group label">
        <label for="email" class="nomeinput">E-mail</label>
        <input [ngClass]="{'invalid-form-field': validateFormField(login.get('email'))}" type="text"
          class="form-control" placeholder="Digite seu e-mail" required formControlName="email" />
        <img class="icone" src="../../../assets/inputemail.svg" alt="">
      </div>

      <div class="form-group label">
        <label for="password" class="nomeinput">Senha</label>
        <input [ngClass]="{'invalid-form-field': validateFormField(login.get('password'))}" formControlName="password"
          type="password" class="form-control" placeholder="Digite sua senha" required />
          <img class="icone" src="../../../assets/inputsenha.svg" alt="">

      </div>
      <ng-container *ngIf="errorMessage">
        <p class="text-center text-danger">{{ errorMessage }}</p>
      </ng-container>
      <div class="remember-me d-flex align-items-center justify-content-center">
        <!-- Default checkbox -->
        <!--   <div class="form-check d-flex align-items-center justify-content-start">
              <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">
                Lembrar de mim</label>
            </div> -->
        <div (click)="open()" class="forgot">Esqueci minha senha</div>
      </div>
      <button [ngStyle]="{'background-color': buttonColor}"
        class="button d-flex justify-content-center align-items-center" (click)="submit()">
        Entrar
      </button>
      
    </form>
    <br><br>
  </div>
</div>