<form [formGroup]="certidao" class="row" (ngSubmit)="next()">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">

      <ng-template ngbNavContent>
        <div formGroupName="dadosSolicitante" class="row">
          <div class="subtitle-solicitation mt-4 mb-4">Dados do solicitante</div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Nome completo *</label>
            <input readonly formControlName="nome" type="text" class="form-control"
              placeholder="Digite seu nome completo">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">CPF / CNPJ *</label>
            <input
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('dadosSolicitante').get('cpfCnpj'))}"
              on-focusout="cpfCnpjIsReal(certidao.get('dadosSolicitante').get('cpfCnpj').value,certidao.get('dadosSolicitante').get('cpfCnpj'))"
              formControlName="cpfCnpj" type="text" class="form-control" placeholder="Digite seu cpf ou cnpj"
              mask="000.000.000-00||00.000.000/0000-00">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Telefone *</label>
            <input
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('dadosSolicitante').get('telefone'))}"
              on-focusout="phoneNumberIsReal(certidao.get('dadosSolicitante').get('telefone').value,certidao.get('dadosSolicitante').get('telefone'))"
              mask="(00) 0000-0000||(00) 00000-0000" formControlName="telefone" type="text" class="form-control"
              placeholder="Digite seu telefone">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">E-mail *</label>
            <input readonly formControlName="email" type="email" class="form-control" placeholder="Digite seu e-mail">
          </div>
        </div>
        <div class="form-group mb-2 col-12">
          <label for="mensagem">Mensagem *</label>
          <textarea [ngClass]="{'invalid-form-field': validateFormField(certidao.get('mensagem'))}"
            formControlName="mensagem" maxlength="3000" class="form-control" placeholder="Digite uma mensagem"
            rows="3"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <div>{{certidao.get('mensagem').value.length}} / 3000</div>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <ng-template ngbNavContent>
        <div formGroupName="enderecoSolicitante" class="row">
          <div class="subtitle-solicitation mt-4 mb-4">Endereço do solicitante</div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Cep *</label>
            <input mask="00000-000"
              (keyup)="calcZip(certidao.get('enderecoSolicitante').get('cep'), 'enderecoSolicitante')"
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('enderecoSolicitante').get('cep'))}"
              formControlName="cep" type="text" class="form-control" placeholder="Digite seu nome cep">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Logradouro *</label>
            <input
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('enderecoSolicitante').get('logradouro'))}"
              formControlName="logradouro" type="text" class="form-control"
              placeholder="Digite sua rua/avenida/alameda...">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Bairro *</label>
            <input
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('enderecoSolicitante').get('bairro'))}"
              formControlName="bairro" type="text" class="form-control" placeholder="Digite seu bairro">
          </div>

          <div class="form-group mb-4 col-6">
            <label for="nome">Número *</label>
            <input
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('enderecoSolicitante').get('numero'))}"
              formControlName="numero" type="text" class="form-control" placeholder="Digite o número da residência">
          </div>

          <div class="form-group mb-4 col-6">
            <label for="nome">Complemento</label>
            <input formControlName="complemento" type="text" class="form-control"
              placeholder="Digite um complemento, caso houver">
          </div>

          <div class="form-group mb-4 col-6">
            <label for="nome">Estado *</label>
            <select (change)="changeState(certidao.get('enderecoSolicitante').get('uf').value)"
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('enderecoSolicitante').get('uf'))}"
              formControlName="uf" type="text" class="form-select">
              <option value="">Selecione</option>
              <option [value]="state" *ngFor="let state of states">{{state}}</option>
            </select>
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Cidade *</label>
            <select
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('enderecoSolicitante').get('cidade'))}"
              formControlName="cidade" type="text" class="form-select">
              <option disabled>Selecione um estado</option>
              <option [value]="city" *ngFor="let city of cities || []">{{city}}</option>
            </select>
          </div>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="3">

      <ng-template ngbNavContent>
        <div formArrayName="dados">
          <div class="subtitle-solicitation mt-4 mb-4">Dados do ato</div>
          <div *ngFor="let dado of certidaoForm.controls; index as i">
            <div *ngIf="certidaoForm.controls.length > 1" class="d-flex justify-content-between">
              <div class="title-solicitation"> Solicitação {{i + 1}} </div>
              <button class="remove-btn" (click)="removeItem(i)">Remover</button>
            </div>
            <div [formGroupName]="i" class="row">
              <div class="form-group mb-4 col-6">
                <label for="nomePartes">Nome das partes</label>
                <input type="text" formControlName="nomePartes" class="form-control">
              </div>
              <div class="form-group mb-4 col-6">
                <label for="dataAto">Data do ato</label>
                <input type="date" formControlName="dataAto" class="form-control">
              </div>
              <div class="form-group mb-4 col-6">
                <label for="tipoAto">Tipo do ato</label>
                <input type="text" formControlName="tipoAto" class="form-control">
              </div>
              <div class="form-group mb-4 col-6">
                <label for="termo">Termo</label>
                <input type="text" formControlName="termo" class="form-control">
              </div>
              <div class="form-group mb-4 col-6">
                <label for="livro">Livro</label>
                <input type="text" formControlName="livro" class="form-control">
              </div>
              <div class="form-group mb-4 col-6">
                <label for="folha">Folha</label>
                <input type="text" formControlName="folha" class="form-control">
              </div>

            </div>
          </div>
        </div>
        <div (click)="addItem()" class="c-p new-solicitation d-flex align-items-center">
          <div [ngStyle]="{'background-color': buttonColor}" class="btn-plus icon-add-ato"></div> Adicionar mais atos
        </div>

        <div class="d-table w-100 file-content mt-4">
          <div class="d-table-cell file-control">
            <div formArrayName="arquivos" *ngIf="arquivosArray.controls">
              <ng-container *ngIf="arquivosArray.controls.length == 0; else hasFilesTemplate">
                Clique ou arraste os arquivos aqui
              </ng-container>
              <ng-template #hasFilesTemplate>
                <div class="d-flex flex-column">
                  <i class="bi bi-cloud-upload-fill fs-4"></i>
                  <span>Você adicionou {{ arquivosArray.controls.length }} {{ arquivosArray.controls.length === 1 ?
                    'arquivo' : 'arquivos' }}</span>
                </div>
              </ng-template>
            </div>

          </div>

          <input type="file" id="anexo" name="anexo" class="form-control-file" multiple (change)="handleSelect($event)"
            DraggableFile>
        </div>

        <div *ngIf="arquivosArray.controls.length > 0" class="text-center">
          <div *ngFor="let file of arquivosArray.controls; index as i"  class="mt-3">
            <h3 class="fs-6">{{file.get('name').value}} <span (click)="removeFile(i)" class="cursor-pointer">X</span></h3>
          </div>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <ng-template ngbNavContent>
        <div class="row">
          <div class="subtitle-solicitation mt-4 mb-4">Cartório</div>
          <div class="form-check mb-4" style="padding-left: 35px !important;">
            <input (change)="sameRegistry()" type="checkbox" class="form-check-input" [checked]="checkNameCartorio">
            <label class="form-check-label">A Certidão é do Cartório {{login.getRegistry.nome}} ?</label>
          </div>
          <div class="form-group mb-4 col-3">
            <label for="estadoCertidao">Estado do cartório*</label>
            <select (change)="changeState(certidao.get('estadoCertidao').value)"
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('estadoCertidao'))}"
              formControlName="estadoCertidao" type="text" class="form-select">
              <option value="">Selecione</option>
              <option [value]="state" *ngFor="let state of states">{{state}}</option>
            </select>
          </div>
          <div class="form-group mb-4 col-3">
            <label for="cidadeCertidao">Cidade do cartório *</label>
            <select [ngClass]="{'invalid-form-field': validateFormField(certidao.get('cidadeCertidao'))}"
              formControlName="cidadeCertidao" type="text" class="form-select">
              <option disabled>Selecione um estado</option>
              <option [value]="city" *ngFor="let city of cities">{{city}}</option>
            </select>
          </div>
          <div class="form-group mb-4 col-6">
            <label for="cartorioCertidao">Nome do cartório *</label>
            <input [ngClass]="{'invalid-form-field': validateFormField(certidao.get('cartorioCertidao'))}"
              formControlName="cartorioCertidao" type="text" class="form-control"
              placeholder="Digite o nome do cartório">
          </div>
        </div>
        <div formGroupName="identificacaoCertidao" class="row">
          <div class="subtitle-solicitation mt-4 mb-4">Identificação</div>
          <div class="form-group mb-4 col-12">
            <label for="nomeCompleto">Nome completo *</label>
            <input pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-záàâãéèêíïóôõöúçñ\s]*"
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('identificacaoCertidao').get('nomeCompleto'))}"
              formControlName="nomeCompleto" type="text" class="form-control" placeholder="Digite o nome completo">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="cpf">CPF</label>
            <input formControlName="cpf" type="text" class="form-control"
              on-focusout="cpfCnpjIsReal(certidao.get('identificacaoCertidao').get('cpf').value,certidao.get('identificacaoCertidao').get('cpf'))"
              placeholder="Digite o cpf" mask="000.000.000-00||00.000.000/0000-00">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="dataNascimentoCasamento">Data de nascimento *</label>
            <input
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('identificacaoCertidao').get('dataNascimentoCasamento'))}"
              formControlName="dataNascimentoCasamento" type="date" class="form-control">
          </div>
        </div>
        <div formGroupName="filiacaoCertidao" class="row">
          <div class="subtitle-solicitation mt-4 mb-4">Filiação</div>
          <div class="form-group mb-4 col-6">
            <label for="filiacao1">Filiação 1</label>
            <input formControlName="filiacao1" type="text" class="form-control" placeholder="Filiação 1">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="filiacao2">Filiação 2</label>
            <input formControlName="filiacao2" type="text" class="form-control" placeholder="Filiação 2">
          </div>
        </div>


      </ng-template>
    </li>
    <li [ngbNavItem]="5">

      <ng-template ngbNavContent>
        <div class="subtitle-solicitation mt-4 mb-4">Forma de entrega</div>
        <div class="d-flex align-items-center">
          <div class="form-check" style="margin-right: 20px !important;">
            <input (change)="certidaoDigital()" type="checkbox" formControlName="certidaoDigital"
              class="form-check-input">
            <label class="form-check-label" for="certidaoDigital">Certidão digital</label>
          </div>


          <div *ngIf="!certidao.get('certidaoDigital').value" class="d-flex align-items-center">
            <div class="form-check" style="margin-right: 20px !important;">
              <input (change)="collectionType(0)" class="form-check-input" type="radio" name="flexRadioDefault">
              <label class="form-check-label" for="flexRadioDefault1">
                Retirar no cartório
              </label>
            </div>
            <div class="form-check">
              <input (change)="collectionType(1)" class="form-check-input" type="radio" name="flexRadioDefault">
              <label class="form-check-label">
                Entregar no endereço
              </label>
            </div>
          </div>

        </div>


        <div formGroupName="endereco" class="row mt-3"
          *ngIf="!certidao.get('certidaoDigital').value && certidao.get('tipoRetirada').value === 1">
          <div class="form-group mb-4 col-6">
            <label for="nome">Cep *</label>
            <input (keyup)="calcZip(certidao.get('endereco').get('cep'), 'endereco')" mask="00000-000"
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('endereco').get('cep'))}"
              formControlName="cep" type="text" class="form-control" placeholder="Digite seu nome cep">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Logradouro *</label>
            <input [ngClass]="{'invalid-form-field': validateFormField(certidao.get('endereco').get('logradouro'))}"
              formControlName="logradouro" type="text" class="form-control"
              placeholder="Digite sua rua/avenida/alameda...">
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Bairro *</label>
            <input [ngClass]="{'invalid-form-field': validateFormField(certidao.get('endereco').get('bairro'))}"
              formControlName="bairro" type="text" class="form-control" placeholder="Digite seu bairro">
          </div>

          <div class="form-group mb-4 col-6">
            <label for="nome">Número *</label>
            <input [ngClass]="{'invalid-form-field': validateFormField(certidao.get('endereco').get('numero'))}"
              formControlName="numero" type="text" class="form-control" placeholder="Digite o número da residência">
          </div>

          <div class="form-group mb-4 col-6">
            <label for="nome">Complemento</label>
            <input formControlName="complemento" type="text" class="form-control"
              placeholder="Digite um complemento, caso houver">
          </div>

          <div class="form-group mb-4 col-6">
            <label for="nome">Estado *</label>
            <select (change)="changeState(certidao.get('endereco').get('uf').value)"
              [ngClass]="{'invalid-form-field': validateFormField(certidao.get('endereco').get('uf'))}"
              formControlName="uf" type="text" class="form-select">
              <option disabled value="">Selecione</option>
              <option [value]="state" *ngFor="let state of states">{{state}}</option>
            </select>
          </div>
          <div class="form-group mb-4 col-6">
            <label for="nome">Cidade *</label>
            <select [ngClass]="{'invalid-form-field': validateFormField(certidao.get('endereco').get('cidade'))}"
              formControlName="cidade" type="text" class="form-select">
              <option disabled value="">Selecione um estado</option>
              <option [value]="city" *ngFor="let city of cities || []">{{city}}</option>
            </select>
          </div>

        </div>

        <div *ngIf="!certidao.get('certidaoDigital').value && certidao.get('tipoRetirada').value === 1">
          Frete: {{(certidao.value.valorFrete) | currency: 'BRL'}}
        </div>


      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <div class="required mt-5">
    Os campos com (*) são de preenchimento obrigatório.
  </div>


  <div class="d-flex w-100 mt-5">
    <button (click)="previous()" type="button" class="w-100 back-btn">
      Voltar
    </button>
    <button type="submit" [ngStyle]="{'background-color': buttonColor}" class="w-100 button">
      {{active === 5 ? 'Enviar' : 'Avançar'}}
    </button>
  </div>
  <br><br>
</form>
