.break-word {
  text-align: justify;
  word-break: break-word;
}

.abolute-index {
  position: absolute;
  width: 100%;
  z-index: 10;
}

::ng-deep.accordion-button {
  padding: 0 20px !important;
}

.card-accordion {
  min-height: 160px;
  width: 230px;
  max-height: 188px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: -1px 1px 5px rgb(0 0 0 / 25%);
  margin: 28px 10px 28px 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.btn-link {
  color: #507bff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
  color: #507bff;
  cursor: pointer;
}

.text-body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #fff;
}

.body {
  padding: 15px;
  min-height: 125px;
}

.ft-12 {
  font-size: 12px;
}

.countNotificationCard {
  color: white;
  background: red;
  border-radius: 40%;
  margin-left: 10px;
  width: 30px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
