<ngb-accordion #acc="ngbAccordion" class="abolute-index">
  <ngb-panel NgbPanelHeader>
    <ng-template ngbPanelTitle style="padding: 0 20px">
      <div class="d-flex justify-content-between w-100 h-100" (click)="acionar()">
        <div class="d-flex align-items-center">
          <span>Notificações</span>
          <div class="countNotificationCard">{{notificationsItems.length}}</div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="d-flex">
        <div *ngFor="let notification of notificationsItems">
          <div class="card-accordion">
            <div class="content">
              <div class="body d-flex justify-content-center align-items-center">
                <span class="text-justify text-body break-word">{{notification.descricao}}</span>
              </div>
              <div class="d-flex justify-content-end px-2">
                <div type="button" class="btn-link mb-3" (click)="redirect('/my-solicitations/details', notification)">
                  Acessar agora</div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
