
.content {
    font-family: "Inter", sans-serif;
}

.cancel {
    height: 48px;
    background-color: #c5c5c5;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    width: 50%;
    margin-right: 20px;
}
.button {
    height: 48px;
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    width: 50%;
}
