<div class="content p-5">

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3 title d-flex justify-content-center align-items-center">
            <div class="margin-right">Confirma aprovação do documento?</div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <button class="cancel" type="button" (click)="cancel()">Fechar</button>
            <button [ngStyle]="{'background-color': buttonColor}" class="button" type="submit">Aprovar</button>
        </div>

    </form>
</div>
