<div class="body w-100 d-flex justify-content-start">

  <div class="content">
    <div class="d-flex justify-content-between align-items-center mt-5 title-responsive">
      <div class="welcome">Olá, {{user.sub}}</div>
      <div (click)="open()" class="new-solicitation c-p d-flex align-items-center">
        <div [ngStyle]="{'background-color': buttonColor}" class="btn-plus icon"></div>Nova solicitação
      </div>
    </div>

    <app-notifications (action)="detect($event)" *ngIf="notificationsItems.length > 0"
      [notificationsItems]="notificationsItems" (update)="resolve()"></app-notifications>

    <div *ngIf="notificationsItems.length > 0" class="autoMargin" [ngClass]="{'expand': autoMargin}"></div>
    
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel NgbPanelHeader class="card-box" title="Solicitações em aberto ({{solicitations.length}})">
        <ng-template ngbPanelContent>
          <div (click)="redirect('/my-solicitations/details', solicitation)" *ngFor="let solicitation of solicitations"
            class="text-break">
            <div class="card-accordion c-p d-flex flex-column align-items-start justify-content-between">
              <div class="d-flex w-100 justify-content-between top-card">
                <div class="w-20  d-flex justify-content-center flex-column btn-fit-content">
                  <div [ngStyle]="{'background-color': buttonColor}" class="solicitation-card">
                    Solicitação nº {{solicitation.codigoSimples}}</div>
                </div>
                <div class="w-20  d-flex justify-content-center flex-column btn-fit-content">
                  <div [ngStyle]="{'background-color': buttonColor}" class="solicitation-card">Ver
                    detalhes</div>
                </div>
              </div>
              <div class="d-flex w-100">
                <div class="d-flex w-100 table-card">
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Tipo de ato</div>
                    <div>{{solicitation.descricaoServico}}</div>
                  </div>
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Data da solicitação</div>
                    <div>{{solicitation.dataCriacao | date: 'dd/MM/yyyy'}}</div>
                  </div>
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Equipe</div>
                    <div>{{solicitation.nomeEquipe || 'Não atribuído'}}</div>
                  </div>
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Responsável</div>
                    <div>{{solicitation.nomeResponsavel || 'Não atribuído'}}</div>
                  </div>
                  <div class="w-20 d-flex justify-content-center align-items-center table-card-item flex-column ">
                    <div class="tittle text-center status-resp justify-content-center align-items-center">
                      Status</div>
                    <div class="status-confirmar">{{getStatus(solicitation)}}</div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>

    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel NgbPanelHeader class="card-box" title="Solicitações concluídas ({{finishedSolicitations.length}})">
        <ng-template ngbPanelContent>
          <div (click)="redirect('/my-solicitations/details', solicitation)"
            *ngFor="let solicitation of finishedSolicitations" class="text-break">
            <div class="card-accordion c-p d-flex flex-column align-items-start justify-content-between">
              <div class="d-flex w-100 justify-content-between top-card">
                <div class="w-20  d-flex justify-content-center flex-column btn-fit-content">
                  <div [ngStyle]="{'background-color': buttonColor}" class="solicitation-card">
                    Solicitação nº {{solicitation.codigoSimples}}</div>
                </div>
                <div class="w-20  d-flex justify-content-center flex-column btn-fit-content">
                  <div [ngStyle]="{'background-color': buttonColor}" class="solicitation-card">Ver
                    detalhes</div>
                </div>
              </div>
              <div class="d-flex w-100">
                <div class="d-flex w-100 table-card">
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Tipo de ato</div>
                    <div>{{solicitation.descricaoServico}}</div>
                  </div>
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Data da solicitação</div>
                    <div>{{solicitation.dataCriacao | date: 'dd/MM/yyyy'}}</div>
                  </div>
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Equipe</div>
                    <div>{{solicitation.nomeEquipe || 'Não atribuído'}}</div>
                  </div>
                  <div class="w-20 d-flex justify-content-center table-card-item flex-column">
                    <div class="tittle">Responsável</div>
                    <div>{{solicitation.nomeResponsavel || 'Não atribuído'}}</div>
                  </div>
                </div>
                <div class="w-20 d-flex justify-content-center align-items-center table-card-item flex-column ">
                  <div class="tittle text-center status-resp justify-content-center align-items-center">
                    Status</div>
                  <div class="status-confirmar">{{getStatus(solicitation)}}</div>
                </div>
              </div>

            </div>

          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

</div>