.message {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 35px;
    background: #fffdc1;
    border-radius: 8px;
    margin: 40px 0px 49px 0px;
    align-items: center;
}

.link {
    margin-left: 5px;
    margin-right: 5px;
}

a {
    font-weight: 700;
    color: black;
}

.welcome {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.new-solicitation {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.card-box {
    width: 100%;
    height: 67px;
    background: rgba(197, 197, 197, 0.46);
    border-radius: 8px;
    margin: 22px 0px 22px 0px;
}

.card-text {
    padding-left: 24px;
}

.card-accordion {
    min-height: 160px;
    width: 100%;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: -1px 1px 5px rgb(0 0 0 / 25%);
    margin: 28px 0;
    padding: 37px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.solicitation-card {
    width: 100%;
    height: 48px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #6f1df4;
    border-radius: 20px;
    padding: 14px 6px;
    text-align: center;
}

.ml {
    margin-left: 20px;
}

.accordion-body {
    padding: 32px 22px;
}

.content {
    margin-left: 68px;
    margin-right: 68px;
    width: 100%;
}

.action {
    margin-top: 130px;
    margin-bottom: 80px;
}

.button {
    width: 480px;
    height: 48px;
    background-color: #6f1df4;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    margin: 13px;
    border: none;
}

.status-resp {
    padding-right: 30px;
}

.tittle {
    font-weight: 700 !important;
    margin-bottom: 8px;
}

.tittle-status {
    font-weight: 700 !important;
    margin-bottom: 0px;
    text-align: center;
}

.status {
    margin-right: 20px;
    p {
        margin: 0;
        font-weight: 700;
    }
}

.status-confirmar {
    width: 90%;
    padding: 0 10px;
    background: rgba(254, 193, 36, 0.19);
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    height: 37px;
    color: #d64507;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}
.w-12 {
    width: 12%;
}

.w-10 {
    width: 10%;
}

.status-resp {
    padding: 0px;
}

::ng-deep .accordion-button {
    width: 100%;
    height: 67px;
    background: rgba(197, 197, 197, 0.46);
    border-radius: 8px !important;
    font-size: 16px;
    &:not(.collapsed) {
        background: rgba(197, 197, 197, 0.46);
        color: black;
        font-size: 16px;
    }
}

::ng-deep .accordion-item {
    margin-top: 20px;
    border-radius: 8px !important;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

::ng-deep .accordion-body {
    background-color: #e5e5e51f;
    overflow-y: hidden;
}

app-notifications {
    width: 100%;
    display: block;
    position: relative;
}

.autoMargin {
    transition: 300ms;
    height: 89px;
}

.expand {
    height: 349px;
}

@media (max-width: 950px) {
    .title-responsive {
        flex-direction: column-reverse;
        align-items: flex-end !important;
        .welcome {
            margin-top: 50px;
            width: 100%;
        }
    }
    .content {
        margin: 0 20px;
    }
}
.break-word {
    word-break: break-word;
}

@media (max-width: 890px) {
    .table-card {
        flex-direction: column;
    }
    .table-card-item {
        width: 100% !important;
        .status-confirmar {
            width: fit-content !important;
            text-align: center;
        }
    }
    .btn-fit-content {
        width: fit-content !important;
    }
}

@media (max-width: 480px) {
    .mw {
        max-width: 154px;
    }
    .status-resp {
        flex-direction: column;
        .status {
            margin-right: 0;
        }
    }

    ::ng-deep .accordion-body {
        padding: 1rem 0.6rem;
    }

    .card-accordion {
        padding: 20px;

        .status-resp {
            padding-right: 5px;
        }
    }
}

.top-card {
    margin-bottom: 30px;
}

@media (max-width: 450px) {
    .card-accordion {
        word-break: break-word;
        padding-left: 10px;
        .status-resp {
            padding-right: 5px;
        }
    }
}
