<div class="content">
    <div class="body">
        <div class="d-flex align-items-center justify-content-center mt-4">
          <div class="btn-sucess" [ngStyle]="{'background-color': buttonColor}"></div>
        </div>
        <div class="success mt-4 mb-4">
            <h3 class="mb-4"><b>Solicitação criada</b></h3>
            <p class="mb-4">Solicitação gerada em: {{ date | date: 'dd/MM/yyyy' }} às {{ date | date: 'HH:mm:ss ' }}</p>
            <p class="mb-4">Código: {{solicitationNumber}}</p>
            <button [ngStyle]="{'background-color': buttonColor}" class="button mt-2" (click)="redirect()">
                Fechar
            </button>
        </div>
    </div>
</div>
