
.success {
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
}

.button {
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    padding: 0 20px;
    border: none;
    width: fit-content;
    height: 48px;
}
