<div class="modal-container">
    <header>
        <div class="d-flex justify-content-start">Enviar documentos ({{form.get('arquivo').value.length}})</div>
        <div class="d-flex justify-content-end align-items-center">
            <div (click)="activateClick()" [ngStyle]="{'background-color': buttonColor}" class="d-flex align-items-center btn-files c-p solicitation-card ">
                <img class="icon" src="../../../../assets/upload.svg" alt="">Anexar arquivos
            </div>
        </div>
    </header>

    <main class="position-relative">

        <body *ngIf="form.get('arquivo').value.length === 0; else filesSetup" (click)="activateClick()" class="mb-2">
            <div class="d-table w-100 file-content ">
                <div class="d-table-cell file-control">
                    <ng-container *ngIf="form.get('arquivo').value.length == 0; else hasFilesTemplate">
                        <div class="d-flex flex-column align-items-center">
                            <img class="icon" src="../../../../../../assets/cloud.svg" alt="">
                            <div class="text-archives">Clique ou arraste os arquivos aqui</div>
                        </div>
                    </ng-container>

                    <ng-template #hasFilesTemplate>
                        Você adicionou {{ form.get('arquivo').value.length }}
                        {{ form.get('arquivo').value.length === 1 ? "arquivo" : "arquivos" }}
                    </ng-template>

                </div>

            </div>
            <span>
                O tamanho máximo do arquivo deve ser de 10MB. <br>
                O número máximo de arquivos é 20.
            </span>
        </body>
        <input type="file" id="anexo" name="anexo" class="form-control-file" multiple #uploadFile
            (change)="handleSelect($event)" DraggableFile />

        <ng-template class="pb-2 pt-2" #filesSetup>
            <form [formGroup]="form">
                <div class="d-flex justify-content-between flex-column">
                    <div formArrayName="arquivo" class="d-flex flex-column">
                        <div *ngFor="let f of files.controls; index as i">
                            <div [formGroupName]="i" class="d-flex row align-items-center archive-style mt-10">
                                <div class="ellipsis col-12 item"> {{i +
                                    1}}. {{f.get('name').value}}</div>
                                <div class="form-group col-10 item input-row">
                                    <input
                                        [ngClass]="{'invalid-form-field': f.get('description').invalid && f.get('description').touched}"
                                        formControlName="description" placeholder="Ex: RG, CPF, etc..."
                                        class="form-control" type="text">
                                </div>
                                <div class="d-flex align-items-center col-10 item">
                                    <button (click)="addParticipant(f, i)"
                                        class="d-flex justify-content-between align-items-center participant ellipsis">
                                        <img style="margin-right: 10px; margin-left: 10px"
                                            src="../../../../../../assets/participant.svg" alt="">
                                        <div class="ellipsis" style="margin-right: 10px;">
                                            {{f.value.participant?.value.nome || 'Participante'}}
                                        </div>
                                        <div></div>
                                    </button>
                                </div>
                                <div class="col-2 item d-flex justify-content-end">
                                    <img (click)="deleteFile(i)" class="c-p"
                                        src="../../../../../../assets/trash-can.svg" alt="">
                                </div>
                            </div>
                            <div class="col-12" *ngIf="isAdding == i">
                                <app-participants [file]="file" [solicitation]="solicitation"
                                    [participants]="participants" (emit)="add($event)" (del)="deleteParticipant($event)"
                                    (assign)="assignParticipant($event)">
                                </app-participants>
                            </div>
                            <hr class="col-12">
                        </div>
                    </div>

                </div>
            </form>


        </ng-template>
    </main>
    <div class="cancel-btn d-flex align-items-center w-100 c-p justify-content-center text-white mb-3 mt-3"
        (click)="closeModal()">
        Cancelar
    </div>
    <div (click)="validate()" *ngIf="form.get('arquivo').value.length > 0" [ngStyle]="{'background-color': buttonColor}" class="send-button c-p w-100">Enviar</div>
</div>
