.modal-container {
    margin: 30px;
}

.mt {
    margin-top: 2rem;
}

.solicitation-card {
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #6f1df4;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

header {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.cancel-btn {
    height: 48px;
    background-color: #c5c5c5;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    font-family: "Inter", sans-serif;
}

.send-button {
    height: 48px;
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin-bottom: 15px;
}
.input-row{
    padding-right: 27px;
}
.participant {
    height: 46px;
    background: #f2f4f5;
    border-radius: 11px;
    border: none;
    width: 100%;
    text-align: left !important;
    margin-right: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.text-archives {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

span {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.file-content {
    position: relative;
    border: 1px dashed #a0a0a0;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    color: #a0a0a0;
    cursor: pointer;

    .file-control {
        height: 200px;
        vertical-align: middle;
        text-align: center;
    }
}

.form-control-file {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 200px;
    width: 100%;
    text-indent: -999em;
    outline: none;
    cursor: pointer;
}

.archive-style {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 300;
}
