<div class="modal-container" *ngIf="screen > 991; else mobile">
    <header class="d-flex justify-content-between align-items-center">
        <div class="title-documents">Enviar documentos ({{form.get('arquivo').value.length}})</div>
        <div (click)="activateClick()"
        [ngStyle]="{'background-color': buttonColor}" class="btn-files c-p solicitation-card d-flex justify-content-center align-items-center">
            <img class="icon" src="../../../../assets/upload.svg" alt="">Anexar arquivos
        </div>
    </header>

    <main class="position-relative">

        <body *ngIf="form.get('arquivo').value.length === 0; else filesSetup" class="mb-5 mt" (click)="activateClick()">
            <div class="d-table w-100 file-content mt-4">
                <div class="d-table-cell file-control">
                    <ng-container *ngIf="form.get('arquivo').value.length == 0; else hasFilesTemplate">
                        <div class="d-flex flex-column align-items-center">
                            <img class="icon" src="../../../../../../assets/cloud.svg" alt="">
                            <div class="text-archives">Clique ou arraste os arquivos aqui</div>
                        </div>
                    </ng-container>

                    <ng-template #hasFilesTemplate>
                        Você adicionou {{ form.get('arquivo').value.length }}
                        {{ form.get('arquivo').value.length === 1 ? "arquivo" : "arquivos" }}
                    </ng-template>

                </div>

            </div>
            <span>
                O tamanho máximo do arquivo deve ser de 10MB. <br>
                O número máximo de arquivos é 20.
            </span>
        </body>
        <input type="file" id="anexo" name="anexo" class="form-control-file" multiple #uploadFile
            (change)="handleSelect($event)" DraggableFile />

        <ng-template class="pb-2 pt-2" #filesSetup>
            <form [formGroup]="form">
                <div class="d-flex justify-content-between row mt-4 mb-4">
                    <div formArrayName="arquivo" class="d-flex flex-column"
                        [ngClass]="{'col-12': !isAdding, 'col-8': isAdding}">
                        <div *ngFor="let file of files.controls; index as i">
                            <div [formGroupName]="i" class="d-flex row align-items-center archive-style mt-10">
                                <div class="ellipsis" [ngClass]="{'col-4' : !isAdding, 'col-2': isAdding}"> {{i +
                                    1}}. {{file.get('name').value}}</div>
                                <div class="form-group col-4">
                                    <input
                                        [ngClass]="{'invalid-form-field': file.get('description').invalid && file.get('description').touched}"
                                        formControlName="description" maxlength="50" placeholder="Ex: RG, CPF, etc..."
                                        class="form-control" type="text">
                                        <!-- <div class="text-input-ws mt-1 text-end">{{ file.get('description').value.length }}/50</div> -->
                                </div>
                                <div class="d-flex align-items-center"
                                    [ngClass]="{'col-4' : !isAdding, 'col-6': isAdding}">
                                    <button (click)="addParticipant(file)"
                                        class="d-flex justify-content-between align-items-center participant ellipsis">
                                        <img style="margin-right: 10px; margin-left: 10px"
                                            src="../../../../../../assets/participant.svg" alt="">
                                        <div class="ellipsis" style="margin-right: 10px;">
                                            {{file.value.participant?.value.nome || 'Participante'}}
                                        </div>
                                        <div></div>
                                    </button>
                                    <img (click)="deleteFile(i)" class="ml-2 c-p"
                                        src="../../../../../../assets/trash-can.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" *ngIf="isAdding">
                        <app-participants [file]="file" [solicitation]="solicitation" [participants]="participants"
                            (emit)="add($event)" (del)="deleteParticipant($event)" (assign)="assignParticipant($event)">
                        </app-participants>
                    </div>
                </div>
            </form>


        </ng-template>
    </main>
    <div class="d-flex align-items-center justify-content-center">
        <div class="cancel-btn d-flex align-items-center c-p justify-content-center text-white" (click)="closeModal()">
            Cancelar
        </div>
        <div (click)="validate()" *ngIf="form.get('arquivo').value.length > 0" [ngStyle]="{'background-color': buttonColor}" class="send-button c-p">Enviar</div>
    </div>
</div>

<ng-template #mobile>
    <app-mobile [form]="form" [toasts]="toasts" [participants]="participants" [file]="file"
        [solicitation]="solicitation">
    </app-mobile>
</ng-template>
