<div class="container">
    <div class="modal-container">

        <form [formGroup]="form" (ngSubmit)="submit()">

            <header class="w-100 d-flex justify-content-between align-items-center">
                <div class="tittle">Confirma reprovação do documento?</div>
                <button type="button" class="btn-close" aria-label="close" (click)="cancel()"></button>
            </header>
            <hr>

            <body class="d-flex flex-column justify-content-center">
                <div class="message mt-4 mb-2">
                    Descreva o motivo da reprovação do documento:
                </div>
                <div class="form-group">
                    <textarea formControlName="obs" maxlength="3000" class="form-control" rows="10"></textarea>
                    <p class="d-flex justify-content-end">{{form.get('obs').value.length}}/3000</p>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <button class="cancel" type="button" (click)="cancel()">Fechar</button>
                    <button [ngStyle]="{'background-color': buttonColor}" class="button" type="submit">Reprovar</button>
                </div>

            </body>
        </form>

    </div>
</div>
