.container {
    padding: 20px;
}

.modal-container {
    margin: 20px;
}


header {
    padding: 0px;
}

body {
    font-family: "Inter", sans-serif;
    color: #000000;
    margin: 10px;
}

.message {
    text-align: left;
    font-weight: 400;
    font-size: 18px;}

.tittle {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 26px;
    padding: 10px 10px 0px 16px;
}

.cancel {
    font-family: "Inter", sans-serif;
    height: 48px;
    background-color: #c5c5c5;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    width: 50%;
}
.button {
    font-family: "Inter", sans-serif;
    height: 48px;
    background-color: #6f1df4;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    width: 50%;
    margin-left: 20px;
}

