<div class="modal-body row p-5">
  <form [formGroup]="changePassword">

    <div class="form-group col-12 mb-3">
      <label>Senha atual</label>
      <input [ngClass]="{'invalid-form-field': validateFormField(changePassword.get('password'))}"
        formControlName="password" placeholder="Digite sua senha atual" type="password" class="form-control mb-2" required />
    </div>
    <div class="form-group col-12 mb-3">
      <label>Nova senha</label>
      <input [ngClass]="{'invalid-form-field': validateFormField(changePassword.get('novaSenha'))}"
        formControlName="novaSenha" placeholder="Digite sua nova senha" type="password" class="form-control mb-2" required />
    </div>
    <div class="form-group col-12 mb-4">
      <label>Confirmar nova senha</label>
      <input [ngClass]="{'invalid-form-field': validateFormField(changePassword.get('confirmacaoSenha'))}"
        formControlName="confirmacaoSenha" placeholder="Confirme sua nova senha" type="password" class="form-control mb-2"
        required />
    </div>

    <ng-container *ngIf="errorMessage">
      <p class="text-center text-danger">{{ errorMessage }}</p>
    </ng-container>

    <div class="d-flex justify-content-center mt-4">
      <button type="submit" (click)="close()" class="back-btn">Cancelar</button>
      <button type="submit" (click)="submit()" [ngStyle]="{'background-color': buttonColor}" class="button">Alterar</button>
    </div>
  </form>

</div>
