.button {
  background-color: #6f1df4;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 48px;
}

.modal-header {
  border-bottom: none;
}

.back-btn {
  height: 48px;
  background-color: #c5c5c5;
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  width: 100%;
  margin-right: 20px;
}
