.button {
  height: 48px;
  background-color: #6f1df4;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  font-family: "Inter", sans-serif;
}

.back-btn {
  height: 48px;
  margin-right: 57px;
  background-color: #c5c5c5;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  font-family: "Inter", sans-serif;
}

.form-group {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

input,
select,
textarea {
  margin-top: 4px;
}

.required {
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.title-solicitation {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 44px 0px;
}

.remove-btn {
  height: 48px;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.44);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  border: none;
}

ul{
  border: none !important;
}


.file-content {
  position: relative;
  border: 1px dashed #A0A0A0;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  border-radius: 4px;
  color:#A0A0A0;
  cursor: pointer;

  .file-control {
      height: 80px;
      vertical-align: middle;
      text-align: center;
  }


  .form-control-file {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      appearance: none;
      height: 80px;
      width: 100%;
      text-indent: -999em;
      outline: none;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.icon-add-ato{
  margin: 10px 10px 10px 0px;
}


@media (max-width: 620px) {

  form {
      flex-direction: column;
  }

  .form-group {
      margin-bottom: 20px !important;
  }
  .col-6 {
      width: 100% !important;
  }
}

@media (max-width: 520px) {
  .welcome {
      font-size: 95%;
  }
}
