/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

.body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.header {
    font-family: "Montserrat", sans-serif;
    height: 163px;
    background: #ffffff;
    box-shadow: 0px 7px 6px -7px rgb(0 0 0 / 25%);
    padding: 0px 60px 0px 60px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nowrap{
    white-space: nowrap;
}

.invalid-form-field {
    border: 2px solid rgba(255, 0, 0, 0.555);
}

.toast-warning {
    background-color: #fec024;
    color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
}

.toast-success {
    background-color: #078b1d;
    color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
}

.icon {
    margin: 6px;
}

.c-p {
    cursor: pointer !important;
}

.labelDesc {
    font-size: 16px;
}

.form-group {
    label {
        font-size: 16px !important;
    }
    input::placeholder {
        font-size: 14px !important;
        font-family: "Montserrat", sans-serif !important;
    }
    input {
        font-size: 16px !important;
    }
    font-family: "Montserrat", sans-serif !important;
}

.btn-plus{
  height: 36px;
  width: 36px;
  display: inline-block;
  background-color: #6f1df4;
  color: white;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
}

.btn-plus::before {
  content: "+";
}

.btn-sucess{
  height: 96px;
  width: 96px;
  display: inline-block;
  background-color: #6f1df4;
  color: white;
  font-weight: 900;
  font-size: 60px;
  border-radius: 50%;
  text-align: center;
}

.btn-sucess::before {
  content: "✔";
}

.subtitle-solicitation {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.margin-right {
    margin-right: 5px !important;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.labelDesc-normal {
    font-size: 14px;
}

::ng-deep .modal-class-custom {
   /*  .modal-header {
        border: none !important;
    }

    .modal-dialog {
        display: flex !important;
        justify-content: center !important;
        margin: auto !important;
        align-items: center !important;
        height: 100% !important;
        .modal-header {
            border: none !important;
        }
    }

    .modal-content {
        width: 857px !important;
        font-family: "Inter";
    }

    .modal-lg {
        width: 857px !important;
    } */
}

@media (max-width: 400px) {
    /*  .dropdown-menu {
        width: 350px !important;
    } */
}
