<div class="menu" (clickOutside)="onClickedOutside($event)">
    <li [ngClass]="{'active': url == '/home'}" class="d-flex c-p align-items-center" translate="no" (click)="redirect('/home')"><img
            class="icon" src="../../../assets/home-icon.svg" alt=""> Home</li>
    <li [ngClass]="{'active': url == '/profile'}" class="d-flex c-p align-items-center" (click)="redirect('/profile')"><img
            class="icon" src="../../../assets/user-icon.svg" alt="">Meus dados
    </li>
    <li [ngClass]="{'active': url == '/my-solicitations'}" class="d-flex c-p align-items-center"
        (click)="redirect('/my-solicitations')"><img class="icon" src="../../../assets/solicitation-icon.svg"
            alt="">Minhas
        solicitações</li>
    <!--
    <div class="help">
        <li class="d-flex c-p align-items-center justify-content-end"><img class="icon"
                src="../../../assets/help-icon.svg" alt="">Ajuda</li>
    </div> -->

</div>
