.menu {
    width: 300px;
    height: 100vh;
    background: #eeeded;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    padding-top: 50px;
    position: relative;
    margin: 0px;
}

li {
    padding: 10px 25px;
    list-style-type: none;
}

.active {
    background: rgba(80, 48, 229, 0.14);
}

/* 
.help {
    position: absolute;
    bottom: 0;
    right: 0;
}
 */
